[2019-08-18 07:41] feature-engineer opened #2 "There's an error in the tutorial's apply_matrix_transformation"
inside the inner for loop, we access rotation instead of mat.

[2019-08-19 18:04] dhollman commented on #2
Thanks, it's fixed now :-)

[2019-08-19 18:04] #2 closed

[2019-09-03 17:44] dhollman opened #5 "More tests"
A lot of the code is still not tested in the tests.

[2019-09-03 18:37] dhollman opened #6 "CI system setup"
To be really production-oriented, we should have a CI system set up and use it as a requirement for merging pull requests.

[2019-09-03 18:38] dhollman commented on #6
@dalg24 Can we hook `mdspan` testing into the existing Kokkos testing CI setup so that when we make the switch to `Kokkos::View` backed by `mdspan`, the core of `mdspan` will have been tested for some time?

[2019-09-03 18:41] dhollman opened #7 "Backport of no_unique_address"
Right now, on non-C++20 compilers, `mdspan` and other parts of the implementation are space inefficient because the `[[no_unique_address]]` (written as `_MDSPAN_NO_UNIQUE_ADDRESS`) does nothing.  We need to find a way to backport to the EBO version of `no_unique_address` without introducing overhead on the newer compilers (and without going crazy with bifurcating the implementation using `#ifdef`s

[2019-09-03 23:00] nliber commented on #7
Both libc++ and libstdc++ implement EBO for empty types in a tuple.  One way to accomplish this is to use tuple and write private const and non-const getters to return references to the various members.

Just a thought...

[2019-09-03 23:10] dhollman commented on #7
Unfortunately, not all of the things we would want to use `mdspan` for have reliable support for `tuple` (e.g., Cuda, HIP).  It's not much harder to just manually do this, but I just have to get around to doing it.  Also, we need to make sure that this happens without increasing the cost to the inliner in the case of the modern attribute (even if we force inline, we have to be sure the extra layer

[2019-09-03 23:12] dhollman commented on #7
Also, this strategy doesn't work transitively, since some of the uses of `_MDSPAN_NO_UNIQUE_ADDRESS` are on the only data member of the class template.

`[[no_unique_address]]` is quietly one of my favorite C++20 features, though maybe that's a sign I do way too much generic programming.

[2019-09-04 02:49] crtrott commented on #7
@dhollman yes and yes.
(it is a sign you do too much generic programming, but I also like this feature ;-) )

[2019-09-05 01:57] rolandschulz opened #8 "Example tiling layout"
Could you provide as an example of how to create user defined layouts a simple tiling layout class?

[2019-09-05 03:30] dalg24 commented on #6
Yes I can help with that.

[2019-09-11 15:19] maddanio opened #9 "does not build on osx"
os: 10.14.6
clang: Apple LLVM version 10.0.1 (clang-1001.0.46.4)
[code]

[2019-09-11 15:21] maddanio commented on #9
cmake command:
`cmake .. -DMDSPAN_ENABLE_EXAMPLES=YES`

[2019-10-01 02:06] dhollman commented on #9
Try with `-DMDSPAN_CXX_STANDARD=14` or `-DMDSPAN_CXX_STANDARD=17`.  Basically, `apple-clang` is reporting that it only supports C++11, and then providing `integer_sequence` (which is a C++14 feature) anyway.  I'll have to put in a workaround.

[2019-10-01 09:09] maddanio commented on #9
still does not work. this is the compiler command and output when using `-DMDSPAN_CXX_STANDFARD=17 -DMDSPAN_ENABLE_EXAMPLES`:
[code]

[2019-10-07 23:27] dhollman commented on #9
Try the recent change I just pushed. I can't reproduce this issue; I do all of my development on a Mac and have not run in to this problem, so I'm kind of taking a shot in the dark.

[2019-10-08 00:35] dhollman commented on #8
I've added an example of this: https://github.com/kokkos/mdspan/blob/master/examples/tiled_layout/simple_tiled_layout.cpp

Hope this helps :-)

[2019-10-08 00:35] #8 closed

[2019-10-08 08:04] maddanio commented on #9
hmm, unfortunately no. the important part in the error I think is:
[code]
if I hard define `_MDSPAN_USE_INTEGER_SEQUENCE 1` then something similar happens with `enable_if_t`, so it seems the feature detection in `config.hpp` doesnt work very well on osx

[2019-10-08 08:06] maddanio commented on #9
ok, I got examples to build by hand defining `_MDSPAN_USE_INTEGER_SEQUENCE 1` and `_MDSPAN_USE_STANDARD_TRAIT_ALIASES 1`

[2019-10-08 11:37] dalg24 commented on #9
@maddanio I was able to reproduce the error with AppleClang.

Would you please confirm it builds without any modification if you configure with `-DMDSPAN_CXX_STANDARD=11?

[2019-10-08 15:19] maddanio commented on #9
I can confirm that. But isnt that somewhat suboptimal?

[2019-10-08 15:25] dalg24 commented on #9
We will fix it.  Just making sure.

[2019-10-08 15:29] dhollman commented on #9
We just need to fiddle with the macros in `config.hpp`, and possibly special-case Apple clang. Even though it’s nice for zero-conf use cases, the problem with using feature macros instead of build-system feature compilation tests is that sometimes compilers lie about what they support.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-09 22:43] dhollman commented on #9
@maddanio This should be working now with C++11, C++14, and C++17 modes.

[2019-10-12 01:01] maddanio commented on #9
works great!

[2019-10-12 01:01] #9 closed

[2019-12-30 02:36] KineticTheory opened #15 "Issues with Clang 6.0 on Linux when using '-std=c++14 -stdlib=libc++'"
On Linux, when using Clang++ 6.0 with the compile options `-std=c++14 -stdlib=libc++`, the CPP macros `__cpp_lib_*` used in `config.hpp` are not available.  I needed to copy the logic used for `_MDSPAN_COMPILER_APPLECLANG` to allow this implementation to work.

In `layout_right.hpp`, I also needed to avoid a double `inline`

[code]

and in `macros.hpp`, I needed to change an `#if` to an `#ifdef`

[2020-01-02 17:19] KineticTheory commented on #15
Here is the full patch file that I am using:

[code]

I didn't create a PR because I don't fully understand the implications of some of these changes (especially the hack for LLVM's `libc++` and commenting out `inline`).  There is probably a much more elegant way to detect if LLVM's `stdlib` option is being used.

BTW, I also needed to suppress compile warnings with the following:

[code]

These w

[2020-03-03 00:14] RyanWollaeger opened #16 "Internal compiler error with Intel 17?"
The following "bad pointer" error is obtained when attempting to compile mdspan with Intel 17.0.4:
[code]

Line 124 corresponds to the following code:
[code]

The compiler flags are:
[code]

Any information on a fix or workaround is much appreciated.

[2020-03-03 00:23] crtrott commented on #16
We will look into this. Does it work with Intel 18/19?

[2020-03-03 00:25] RyanWollaeger commented on #16
Thank you!  It worked with Intel 19.0.4 - we haven't tried with 18.

[2020-03-03 00:25] crtrott commented on #15
We are working on fixing a good chunk of this, thanks for the report. We have not yet decided what the minimum clang version is we gonna support though.

[2020-03-03 00:28] crtrott commented on #16
Ok sounds good. Intel 17 will be on our support list. This thing is going to get moved into Kokkos proper at some point in the next few months, at which point we need to support all compilers which are on the official support list of Kokkos at that point. We will drop a number of compilers though, since we will also move to C++14 as the minimum. But Intel 17 is very likely still on our requirement

[2020-03-03 00:28] dhollman commented on #16
I know at one point I had it working all the way back to Intel 15, but then I made some changes to get the Intel optimizer to realize that `std::array<ptrdiff_t, 3>` doesn't have a control flow dependence on itself (...yeah...), and in that process I think I probably regressed compatibility (we were also trying to get a paper out at that time, so you know how those things go).  I'll look at this;

[2020-03-03 00:30] dhollman commented on #16
Also, a lot of the things causing the most common compiler issues can be removed once we drop C++11 support.  I believe I regressed support for quite a few versions of various compilers when doing those workarounds also.

[2020-03-03 02:17] KineticTheory commented on #16
As a follow up to the original report, LANL's intel/17.0.4 installation uses gcc/5.3.0's STL.  I don't think that critical, but it might be useful if you try to create a reproducer.

[2020-03-28 21:44] eyalroz opened #17 "Explain differences from GSL multispan and std::mdspan"
The README should make it clear how this implementation is different from what's going into the standard (_if_ it's different), and from the GSL multi-dimensional span, multispan (or at least MS GSL).

[2020-03-28 22:09] KineticTheory opened #18 "Compile failures with clang-cl version 9 (MSVC 2019)."
FYI, I can't compile the current version of *mdspan* when using `clang-cl.exe` that ships with Visual Studio 2019 (LLVM clang version 9.0).  The first couple of build errors are shown below.

<pre>
C:\Program Files (x86)\Microsoft Visual Studio\2019\Preview\VC\Tools\Llvm\bin\clang-cl.exe /c /Z7 /nologo /W0 /WX- /diagnostics:column /FS /Od /D WIN32 /D _WINDOWS /D _CRT_SECURE_NO_DEPRECATE /D _SCL_SE

[2020-03-29 19:24] mhoemmen commented on #17
I don't want to speak for the main `mdspan` developers, but as far as I know, the only intended differences between the implementation and the proposed standard come from wanting the implementation to work with earlier C++ language versions.  I think it's OK to report any missing features in the implementation as bugs.

[2020-03-29 21:43] eyalroz commented on #17
I wasn't asking for an explanation here, I'm saying that people finding this repo for the first time would be wondering "How is this different from XYZ?" and the README should have the answer.

[2020-03-31 00:20] dhollman commented on #18
Hmmm...this is interesting. It looks to me like `clang-cl.exe` may think that it's MSVC when it comes to preprocessing (since MSVC has some weird preprocessor behavior I had to account for). I don't have easy access to a Windows machine to test this, but I'll poke around and see what I can find.

[2020-03-31 00:25] dhollman commented on #17
@eyalroz This is the first I've heard of GSL `multi_span`. As far as I can tell, it's deprecated and mostly hasn't been touched in four years. Are you aware of any widespread use of `multi_span` that would make this a useful point of comparison? I get what your saying, but even to go through every *popular* multi-dimensional array implementation in a "How is this different from XYZ?" would be a pr

[2020-03-31 03:18] KineticTheory commented on #18
@dhollman This is new territory for me too.  Here is what I have found so far...

* CMake's `MSVC` and `WIN32` variables are both `true` for `cl.exe` and `clang-cl.exe`.
* CMake's `CMAKE_<LANG>_COMPILER_ID` is `MSVC` or `Clang` for  `cl.exe` and `clang-cl.exe`, respectively.

[2020-03-31 06:32] eyalroz commented on #17
@dhollman : GSL is an implementation of the C++ Core Guidelines Support Library. The [guidelines](https://isocpp.github.io/CppCoreGuidelines/CppCoreGuidelines) are a project started by Bjarne, Herb and other committee members several years ago, and the GSL is a bunch of stuff found useful by the guidelines which doesn't/didn't exist in the standard library.

Microsoft's GSL implementation is quite

[2020-03-31 07:13] dhollman commented on #17
Yeah, I'm of course aware of the GSL and the C++ Core Guidelines, and I've read and used both quite extensively. I'm just saying that even though I'm quite familiar with the GSL, this is the first I've heard of multi_span, which doesn't bode well for it's usage. The fact that the entirety of the interface for multi_span is marked deprecated in the latest GSL also isn't a good sign. I've talked wit

[2020-03-31 10:35] eyalroz commented on #17
Even a non-exhaustive "this is quite unlike `GSL::multi_span`, for example in X and Y and Z" would be ok IMHO.

[2020-04-14 01:28] KineticTheory opened #20 "gcc-8.1 compilation issue after #19 merged"
After #19 was merged, we are seeing the following gcc-8.1 compile error:

[code]

* On a positive note, #19 resolved a fatal build error when we attempt to use intel-17.0.4.

cc: @brryan

[2020-04-14 03:49] KineticTheory opened #22 "Merged pull request #19 breaks Visual Studio 2019 build (x64)"
I am attempting to use `master` after PR #19 was merged in Visual Studio 2019 (`The CXX compiler identification is MSVC 19.26.28720.3`).  There seem to be serious issues with this version.

The first few errors are listed below:

[code]

[2020-04-14 15:18] mhoemmen commented on #22
I suspect the only needed change is to ifdef out the backports if using VS 2019.

[2020-04-14 16:18] KineticTheory commented on #22
I'll give that a try and provide feedback.

[2020-04-14 17:08] KineticTheory commented on #22
* I used an `#ifdef` to remove the backports from `trait_backports.hpp`.  This eliminates the first 8 compile errors I listed above

[code]

The new set of build errors are:

[code]

* Any thoughts on how to address these issues?

[2020-04-14 17:25] mhoemmen commented on #22
@KineticTheory Thanks for trying that out!  It's been a while since I've looked at the mdspan implementation -- @dhollman et al. definitely would know more.

[2020-04-20 20:37] dhollman commented on #22
I'll take a look. Most of the reason I'm so slow to fix MSVC bugs is that I'm still trying to get consistent access to a Windows development environment. Sorry about the delay!

[2020-04-23 19:28] BobSteagall opened #23 "ICE with VisualStudio 16.5.4"
`#include <experimental/mdspan>`  in an otherwise empty source file yields the following set of error messages and an ICE:

[code]

[2020-04-23 19:30] crtrott commented on #23
Wait is this VisualStudio 16 or 19? or is the versioning just weird?

[2020-04-23 19:35] BobSteagall opened #24 "preprocessor directives in a macro argument list is UB"
The use of preprocessor directives within the macro argument list in lines 206-211 of `layout_stride.hpp` is undefined behavior.  Please consider applying the following patch, which wraps the entirety of the `MDSPAN_FUNCTION_REQUIRES` macro invocation inside the `#if/#else` clauses:

[code]

[2020-04-23 19:39] BobSteagall commented on #23
This is Visual Studio Community 2019 (product name), version number 16.5.4  (i.e., the latest, at least as of last week).  It's MS's numbering convention, sorry for any confusion.

[2020-04-23 19:40] BobSteagall commented on #23
Yes, their numbering is weird, at least to me.....

[2020-04-24 16:15] crtrott commented on #23
Ok we identified that `__cplusplus` is the problem: This thing asserts this MSVC:
[code]

`__cplusplus` is defined to 199711L right now even though the compile line includes `-std:c++latest`.

[2020-04-24 16:17] crtrott commented on #23
Here is the explanation: https://devblogs.microsoft.com/cppblog/msvc-now-correctly-reports-__cplusplus/

[2020-04-24 16:27] #16 closed

[2020-04-24 16:27] #20 closed

[2020-04-24 19:12] dhollman commented on #23
Pull request #25 should have addressed this. Thanks for reporting this, and please let us know if you have any other issues!

[2020-04-24 19:13] dhollman commented on #24
Yeah, I didn't realize this. This is now fixed by #21. Hope this helps!

[2020-04-24 19:13] #24 closed

[2020-04-24 19:13] #23 closed

[2020-04-24 19:16] dhollman commented on #22
As of the most recent pull request, MSVC should be working completely.  The problem was that MSVC wasn't defining `__cplusplus` correctly by default (see https://devblogs.microsoft.com/cppblog/msvc-now-correctly-reports-__cplusplus/). We've fixed this now. Please let me know if this is still an issue.

[2020-04-24 19:16] #22 closed

[2020-04-24 19:17] dhollman commented on #18
This was fixed in pull request #25. The problem was that clang sets the `_MSC_VER` variable even though it actually has a working C preprocessor, unlike MSVC.

[2020-04-24 19:17] #18 closed

[2020-04-24 19:19] dhollman commented on #7
Done and merged (#19). There is still a bug with some things not being recognized as empty by some implementations, but I'll open a separate issue for this.

[2020-04-24 19:19] #7 closed

[2020-04-28 23:10] KineticTheory opened #26 "Still cannot build mdspan under MSVC 2019"
@dhollman In the conclusion to our discussion related to issue #22, you expressed that you have a version of _mdspan_ (master?) working in Visual Studio.  You expressed the need to set the compiler option ` /Zc:__cplusplus`, which I have done.  Can you provide details concerning the working setup that you are using?  I am still unable to build _mdspan_ from Visual Studio 2019.

I am using ` Micros

[2020-04-28 23:24] crtrott commented on #26
We didn't tet figure out how to get gtest on Windows so we disabled the tests which need that and only compiled the rest (which according to Bob didn't work, and we then fixed). So our json looked like this:
[code]

[2020-04-29 00:49] crtrott commented on #26
Can you check out the https://github.com/kokkos/mdspan/tree/fix-msvc-gtest-tests branch and see if it works for you?

[2020-04-29 02:01] KineticTheory commented on #26
At least for my installation, it doesn't work with `-DMDSPAN_ENABLE_TESTS=ON`

[code]

[2020-04-29 02:16] KineticTheory commented on #26
@crtrott I appreciate you looking at this.  I have an appveyor MSVC build that shows the build issues I'm hitting at https://github.com/lanl/Draco/pull/814.  Scroll down to the "AppVeyor build failed" block and dive on that hyper link to see the compile line and fatal error.  If you are interested, I can probably help you setup a similar MSVC2019 CI for mdspan.

[2020-04-29 16:16] crtrott commented on #26
Hm maybe this is the difference between MSVC 16.5 and 16.6

[2020-04-29 16:23] crtrott commented on #26
For the record here is my json file:
[code]

[2020-04-29 16:24] crtrott commented on #26
This is with tests enabled and version 16.5.0 of MSVC. I am not 100% sure if I want to look at previews of MSVC, since it is already a painful compiler :-P

[2020-04-29 16:29] crtrott commented on #26
I am installing 16.5.4 now see if this still works.

[2020-04-29 16:34] dhollman commented on #26
Sorry if I miscommunicated on that. You shouldn't do this by hand. We've fixed that part at least.

Yeah this failure is effectively a stress test of the compiler, not really a test of correct functionality. It's more or less meant to see what the compiler can do without crashing. I should move this to a different section or something, but my CMake isn't really good enough to figure out how to do

[2020-04-29 16:43] crtrott commented on #26
@dhollman I didn't exclude anything. We already merged the original stuff, but @KineticTheory enabled all tests, so I did too and commented the stuff out which failed. This still works with 16.5.4 btw.

Configure
[code]

Build:
[code]

Test:
[code]

[2020-04-30 21:06] dhollman commented on #26
@crtrott no, the extra flag for compilation tests that we added seems to be missing still: https://github.com/kokkos/mdspan/blob/1d44c628b3a7e89265f2f92591b5dad5734427d3/CMakeLists.txt#L155-L156

[2020-05-17 08:29] Twon opened #28 "MacOS Include Order Issue"
First of all thanks for the great implementation of mdspan!  This is currently used as a dependency in the official repository for the [wg21 proposal P1385 for Linear Algebra](https://github.com/BobSteagall/wg21) as based on feedback from the meeting mdspan was seen as the correct abstraction for matrix access.

However, we are unfortunately experiencing some issue with our MacOS build as a result

[2020-05-17 17:46] crtrott commented on #28
I think the issue was coming from something else (namely apple clang in C++17 or higher defining the typetraits but not the feature macro for the `is_**_v` stuff. With the PR I just opened #29 it works for me. Can you try that?

[2020-05-17 22:05] Twon commented on #28
Hi, I've checked with the change you made and it's still failing, I've set up the example I outlined in a git repo here: https://github.com/Twon/mdspan_macos_include_order_issue.  If you follow the travis link in the read me you can see the build failures that are still occurring: https://travis-ci.org/github/Twon/mdspan_macos_include_order_issue.

Essentially you are right that the feature macro

[2020-05-17 23:32] crtrott commented on #28
Hm that repo works for me. I cloned it, cd into it then mkdir build; cmake ../; make. That worked. Whats your cc --version?

[2020-05-17 23:33] crtrott commented on #28
[code]

[2020-05-17 23:34] crtrott commented on #28
Also clicking on your travis link it shows passing tests?

[2020-05-18 08:05] Twon commented on #28
Hi, thanks for taking a look at this!  Yes, this now worked for me.  I should have said I set up a repo here for this: https://github.com/Twon/mdspan_macos_include_order_issue.  As you can see the build is now passing for Xcode 10 & 11 where it was previously failing: https://travis-ci.org/Twon/mdspan_macos_include_order_issue.

Many thanks for addressing this so quickly!

[2020-05-18 08:22] Twon commented on #28
Yes, but only because we have put a workaround in here: https://github.com/BobSteagall/wg21/blob/master/include/linear_algebra.hpp#L24.  I've created a pull request that builds against these changes and removed the workaround, and it looks like this resolves the issue: https://github.com/BobSteagall/wg21/pull/51

[2020-05-18 15:50] crtrott commented on #28
Ah yeah I meant the travis thing in your testcode, I think you posted here, and then later deleted the post - but I had already gotten the email ;-).

[2020-05-18 16:33] Twon commented on #28
Yes, I did, then realised I had tested without setting the branch containing your changes, doh!  I checked it again, this time against your changes and the issue has been resolved.  So I agree, the changes in the PR do fix the issue.  Thanks for looking at this so quickly, much appreciated.

[2020-05-18 16:35] crtrott commented on #28
Great!

[2020-05-18 20:16] Twon commented on #28
Closing the issue now its resolved.  I've renabled the LA repo from building at head of master and all tests are passing on CI: https://github.com/BobSteagall/wg21/pull/52

[2020-05-18 20:16] #28 closed

[2020-05-22 06:41] huberdavid opened #30 "Removed template method used"
Get this error when compile benchmarks:
**../include/experimental/__p0009_bits/basic_mdspan.hpp(284): error: class "std::integer_sequence<std::size_t, 0UL, 1UL, 2UL>" has no member "__size"**

In line  basic_mdspan.hpp:103:
using __impl = make_index_sequence<sizeof...(Exts)>;
however std::index_sequence has no member __size

This was a workaround in 76fecc639cc99c6e0e285c8b47ef373a989f3bc3:
  // C

[2020-06-18 23:53] mhoemmen commented on #26
Another data point: I get build errors when I try to build `kokkos/stdBLAS` with Visual Studio 19.  They look like this:
[code]

[2020-06-19 04:15] mhoemmen commented on #26
My previous comment may have been an issue with `kokkos/stdBLAS`.  [My PR](https://github.com/kokkos/stdBLAS/pull/33) fixes the build errors.  The fix was to pass run-time extents into `basic_mdspan`'s constructor as `ptrdiff_t`, instead of relying on conversion from `size_t`.  I'm not sure if that's a VS 2019 issue, or an issue with mdspan's implementation.

[2020-07-11 00:35] ohmree opened #31 "Wrong behavior in seemingly simple test"
Hi, this is probably my mistake but while using the (awfully convenient) mdspan I encountered unexpected functionality in my program.

I managed to get a minimal reproduction of the bug:

[code]

Running `test()` produces the following output:

[code]

First of all, there's an extra 1 I never set, and in my more complex program this has been happening with some squares in a 5x5 grid (but not all o

[2020-07-11 01:32] dalg24 commented on #31
Your grid is not sized properly and you have out-of-bound accesses
[code]

[2020-07-11 12:01] ohmree commented on #31
Whoops, that's embarrassing. The code runs just fine after applying your fixes.

So the constructor takes dimensions starting from 1 and not 0 like I thought?

[2020-07-11 12:06] #31 closed, assigned to nobody

[2020-07-11 23:17] mhoemmen commented on #31
It's just like `std::vector`: If you want N elements, you give its constructor N.  Whether the indexing is zero-based or one-based doesn't matter for the constructor.

[2020-09-07 21:27] KineticTheory commented on #26
I've created a mini-repository that shows the build issues we are having with MSVC 2019 (our compiles are limited to C++14, see `CMakeLists.txt`) at https://github.com/KineticTheory/mdspan-msvc2019.  This simple test trips over the following backport traits in `trait_backports.hpp` so I disabled them with a local `#ifdef`. These definitions conflict with those provided in `<type_traits>`. MSVC err

[2020-09-08 16:17] crtrott commented on #26
I will look into this.

[2020-11-02 18:02] acdemiralp opened #32 "Shortcut for dynamic multidimensional spans of size S."
Hello,

I had the use case of pairing a linear container and a (dynamic) mdspan to create a basic grid like this:
[code]

Hence I created (excuse the naming):
[code]

which allows e.g. `dynamic_mdspan_of_rank<float, 3>` instead of `mdspan<float, std::dynamic_extent, std::dynamic_extent, std::dynamic_extent>`. The code above is based on a bunch of stackoverflow template expansion posts and the nami

[2020-11-02 20:59] dhollman commented on #32
Hi! Thanks for the feedback. This implementation is based directly on what's proposed to the C++ standard in P0009, which doesn't include such a facility. I'd be happy to co-author a short paper proposing that an alias template that performs this expansion should be added to the C++ standard, but what you're doing here is more or less the way I do this also.

That said, the code you've written abo

[2020-11-03 20:32] acdemiralp commented on #32
I'm glad multidimensional arrays are making their way into the standard in this form.

I would be more than happy to work on a separate paper together, but wonder what if we already talked about would be sufficient in terms of content. I have several more applications to data analysis and visualization which will be developed in the next days. Perhaps these support functionality could be summed up

[2020-11-05 17:54] acdemiralp opened #33 "Compilation failure with NVCC 11.1."
**Errors:**
trait_backports.hpp:62 i.e. `_MDSPAN_BACKPORT_TRAIT(is_assignable)`
1- Constexpr is not valid here.
2- Declaration is incompatible with variable template "std::is_assignable_v"

**Attempt to fix:** NVCC probably defines these already. Undefine backports before including anything else and see if it goes away.
[code]
**Problem gone.**

**New errors:**
fixed_layout_impl.hpp:89 i.e. `const

[2020-11-13 23:00] fmaciejak opened #34 "Question: Initializing a mdspan with a variadic number of arguments"
I have written a simple template class in order to create multidimensional grids with mdspan:
[code]
The `dynamic_mdspan_of_rank` idea is taken from [https://github.com/kokkos/mdspan/issues/32](32).
My question is, whether there is a possibility to pass a variadic amount of data to `grid_`.
My goal is to be able to write something along the lines of:
[code]
Where `arr` in this case would be `std::

[2020-11-15 14:14] fmaciejak commented on #34
Alright, here is a solution, that seems to work:
[code]

[2020-11-16 22:16] dhollman commented on #32
This sounds more or less like a pretty straightforward function template to write. What am I missing?

If you mean `subspan` and not iterator, then `std::experimental::subspan` probably does what you want for both of these, depending on how "arbitrary" you actually mean.

Actual iterators are a much more complicated topic, since they are performance-dependent on layout but still need to present a

[2020-11-16 22:16] #32 closed, assigned to nobody

[2020-11-16 22:20] dhollman commented on #34
It's simpler than that. `mdspan` has a constructor that takes an array of dynamic extents:

[code]

(see 22.7.�.1 paragraph 4 in https://wg21.link/p0009r10)

[2020-11-16 22:20] #34 closed, assigned to nobody

[2020-11-16 22:21] dhollman commented on #33
I'll look into this. Thanks for bringing this to our attention!

[2020-12-03 04:18] bd4 commented on #30
I am still seeing this in latest (371250b2341e6196b823337e4ea4d3474c879310 Jun 12), using both gcc-9 and gcc-10.

[2020-12-03 04:23] bd4 commented on #30
Same error with clang 9 and 10.

[2020-12-03 23:42] dhollman commented on #30
Thanks! I'll take a look. We're in the process of (finally) integrating this in to our production code base, so we're going to need to fix these things now anyway. I suspect this is a problem in the build system. What version of C++ are you configuring with?

[2020-12-04 01:08] bd4 commented on #30
I tried with default, c++14 and c++17. Seems to detect c++20 concepts support if I don't specify, which I am skeptical of... but forcing older did not fix the error.

[2021-01-22 17:12] ClausKlein opened #37 "inkonsistent cmake config package export"
this file should be installed in `<prefix>/lib/cmake/MDSpan/`

and in a consistent manner: `MDSpan*.cmake`:

[code]

[2021-01-25 08:24] mattja commented on #5
Ok, I've contributed test coverage for stdex::extents in pull request #38
This identifies a bug in one constructor which is fixed in pull request #36

[2021-02-23 09:56] JHopeCollins commented on #30
I have also had this issue when trying to use both the `size()`  and `operator()(array)` methods of `basic_mdspan`.

I'm only using gcc and clang, not MSVC, so I "fixed" (bodged) it by undoing the changes in [https://github.com/kokkos/mdspan/commit/9baf320edbf10315a9c136ba91a08810dfc3a68c](https://github.com/kokkos/mdspan/commit/9baf320edbf10315a9c136ba91a08810dfc3a68c). This also "fixes" a simila

[2021-04-10 13:56] jbigot opened #39 "constructing extents from array fails at compile time"
My attempts to use the following constructor failed at build time with GCC-10.2.1 configured for C++-17 support in cmake:
[code]
The error is:
[code]

More info including a complete example and the build log can be found at https://github.com/jbigot/mdspan_test

Did I make a mistake in using this constructor?

[2021-04-10 13:59] jbigot commented on #39
Looking at the open PRs, this is already fixed by #36 . Would be nice to have it merged in master

[2021-04-11 12:56] jbigot opened #40 "Could std::extents<> be iterable?"
I don't know whether this is the right place for such comments, please let me know if I should move this discussion elsewhere.

I believe it would make a lot of sense to have `std::extents` be iterable and yield valid nd indices for a `basic_mdspan` using this extent.

Typically, one would write (with `my_span` a potentially multi-D `mdspan`):

[code]

From a usability point of view, this would be

[2021-04-11 20:32] mhoemmen commented on #40
I shouldn't speak for @dhollman or @crtrott , but certainly we've discussed this.  The main issue is that an iterator over a flattened multidimensional index space would need state.  This would complicate parallelization and compiler optimizations.  Also, the iteration order should depend on the layout for best performance, not just on the extents.

[2021-04-13 08:04] jbigot commented on #40
Indeed, this is the main issue. At least if the `operator*`of the iterator is to return a `std::array<size_t, N>` to use as an index.

Another way that could be investigated is whether something different could be returned so as to skip the `AccessorPolicy` manipulation of `basic_mdspan::operator[]`.

Sure, however the reason I see for iterating over the `extent` rather than over the `mdspan` itse

[2021-04-13 16:02] mhoemmen commented on #40
Right, one will have to decide which `mdspan`'s iteration order one prefers, but one can do that by picking an `mdspan` and querying its layout.  I'm not sure if it makes sense to have a "common iteration order" for all `mdspan` with the same `extents`.  Iteration order and layout are always tied together, even if one must pick a particular layout's iteration order and ignore the rest.

[2021-04-30 07:14] mpusz opened #42 "Conan support"
Hi, it would be great to have your library in Conan to simplify its usage by a wider audience. I can help you with that. But first, it would be great to have some official release (0.1.0?) done as it seems that the library is still on 0.0.1 with no release up to now.

[2021-04-30 15:10] dalg24 commented on #42
[Done](https://github.com/kokkos/mdspan/releases/tag/mdspan-0.1.0)

[2021-04-30 17:59] mpusz commented on #42
Please see PR https://github.com/conan-io/conan-center-index/pull/5382 and let me know if everything looks OK to you. If yes, I will submit this PR for review.

_Note:_ Typically releases are just numbers without `mdspan-` prefix as it results in `mdspan-mdspan-*` archive (https://github.com/conan-io/conan-center-index/pull/5382/files#diff-66c79223ea605a0847efe27e41eefae3fb8d0e148c97510248b1350b86

[2021-04-30 18:45] dalg24 commented on #42
I was following [boost](https://github.com/boostorg/boost/releases) convention but I don't mind changing.

In the meantime I realized I forgot to update https://github.com/kokkos/mdspan/blob/9d1acac543053cbe6839273f550b1ece218e9696/CMakeLists.txt#L4

[2021-04-30 18:47] mpusz commented on #42
You can still update it. The Conan recipe is not done.

The current issue I see is that the library claims to be C++11 compatible but there are a few `std::integer_sequence` being used and a few other issues. See: https://github.com/conan-io/conan-center-index/pull/5382#issuecomment-830289540

[2021-04-30 18:53] mpusz commented on #42
A full error log can be found here: https://c3i.jfrog.io/c3i/misc/logs/pr/5382/4/mdspan/0.1.0//5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9-test.txt.

[2021-04-30 19:13] dalg24 commented on #42
This is weird.  I am not sure what is wrong.  I wasn't able to reproduce on my local build.
https://github.com/kokkos/mdspan/blob/9d1acac543053cbe6839273f550b1ece218e9696/include/experimental/__p0009_bits/trait_backports.hpp#L87-L130

I will get back to it later.  Unless you want to take a stab at it?  ;)

[2021-04-30 20:45] crtrott commented on #42
I think we are dropping C++11 because our main users internally went to C++14 as a minimum and it simplifies our life a bit. I presume its not a big issue for you?

[2021-05-02 11:05] mpusz commented on #42
No, I may easily set C++14 as a minimum requirement. I just didn't want to overconstrain the Conan package if it was not necessary.

[2021-05-02 12:57] mpusz commented on #42
OK, with C++14 set as a minimum requirement the Conan package is green: https://github.com/conan-io/conan-center-index/pull/5382#issuecomment-830792728. Should I submit this PR for review or maybe you want to do some last-minute changes (fix CMake version, change the labeling scheme, ...)?

[2021-05-03 18:07] mpusz commented on #42
Could you please confirm that no changes are expected and that I can submit the PR to ConanCenterIndex as is? If you want to do some changes please feel free to let me know as well.

[2021-05-12 07:42] mpusz commented on #42
Done: https://conan.io/center/mdspan.

[2021-05-12 07:42] #42 closed, assigned to nobody

[2021-05-12 16:45] tpadioleau opened #44 "Assigning to a mdspan to const"
The snippet below does not seem to compile
[code]

The compilation error seems to come from the `accessor_basic` that is not convertible from `accessor_basic<double>` to `accessor_basic<double const>`.

I think one might expect to be able to assign a `mdspan` to a `mdspan`  to `const` as it is the case for `std::span`.

A fix could be to add a conversion operator like this one
[code]

[2021-05-12 23:37] keryell opened #45 "Implement basic_mdspan::span()"
I wanted to use this member function in a project, but, too bad, this not yet implemented...
https://github.com/kokkos/mdspan/blob/stable/include/experimental/__p0009_bits/basic_mdspan.hpp#L302
[code]

[2021-05-15 00:46] crtrott commented on #45
We actually removed it in a recent version of the proposal.

[2021-05-15 00:47] crtrott commented on #44
Yeah

[2021-05-15 00:48] crtrott commented on #39
there is a related issue that it doesn't construct from a std::array of any integer type ...

[2021-05-15 02:26] keryell commented on #45
Ah, too bad.
It is still in *22.7.�.1 basic_mdspan overview [mdspan.basic.overview]* of http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2020/p0009r10.html which was for me the latest published version.
So, where is the latest provisional proposal?

[2021-05-17 15:20] dalg24 commented on #44
Actually I think this should be covered by the converting constructor.
https://github.com/kokkos/mdspan/blob/606026cb3ff17accb227ab115b2232d40eb470f1/include/experimental/__p0009_bits/basic_mdspan.hpp#L182-L195

It looks like the issue comes from the accessor not being convertible
https://github.com/kokkos/mdspan/blob/606026cb3ff17accb227ab115b2232d40eb470f1/include/experimental/__p0009_bits/basic

[2021-05-18 19:43] crtrott commented on #44
actually if the problem is just the accessor then the above doesn't help, since is_convertible for the accessor types doesn't come back true.

[2021-05-18 20:38] keryell commented on #45
OK, https://github.com/ORNL/cpp-proposals-pub/pull/137 just landed as P0009r11.
Now I need an implementation of `submdspan()`. :-) But this is not an issue for https://github.com/triSYCL/triSYCL/pull/304 to use the old naming for now.

[2021-05-18 20:38] #45 closed, assigned to nobody

[2021-05-24 21:36] #44 closed, assigned to nobody

[2021-06-02 22:40] VladimirBessonov commented on #9
can somebody explain for the beginner what is the fix?
I cannot find any config option with SPAN_

below config I get from CMAKE.

C/C++:
    Built as dynamic libs?:      YES
    C++ standard:                11
    C++ Compiler:                /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++  (ver 12.0.5.12050022)
    C++ flags (Release):         -fsigned-

[2021-06-02 23:06] VladimirBessonov commented on #9
I also tried -std=c++14
It doesn't help

[2021-06-03 21:10] brycelelbach opened #52 "Put it on Godbolt"
Y'all already have a script for making a single header - it'd be nice to include that single header in the repo (so people can URL include it on Godbolt) or just put this on Godbolt proper through their library support.

[2021-06-08 05:03] quxflux opened #55 "Compile error when using `is_contiguous()` on subspan"
Using `is_contiguous()` on a subspan will result in a compile error. Consider following example:
[code]
The relevant lines in the list of traces msvc is spitting out are the following:
[code]
The error is caused by a missing return statement in a predicate in the `is_contiguous()` implementation in `layout_stride.hpp`:
[code]

[2021-06-08 21:12] dalg24 commented on #55
Thank you for reporting that

[2021-06-08 21:17] brycelelbach opened #58 "`no_unique_address` emulation is broken with GCC 11"
[code]

No clue what's going on here.

[2021-06-08 21:24] #55 closed, assigned to nobody

[2021-06-08 21:36] crtrott commented on #58
got it reproduced too

[2021-06-08 21:50] crtrott commented on #52
Did this see here:

https://godbolt.org/z/PT9c9nhqq

[2021-06-08 23:15] crtrott commented on #58
this is nuts. No clue how this is going wrong. The constructor is clearly inline defined. I first wondered whether its just missing in the base template, and added those constructors explicitly and still get the same error

[2021-06-08 23:50] brycelelbach commented on #58
Yah, no clue what is going on. I decided to give up on sorting it out, and instead just porting all the no unique address codepaths to actually use `[[no_unique_address]]` when it's available, which should avoid the issue.

It's not obviously something wrong with the compiler so I'm not going to bother trying to reduce it.

[2021-06-09 00:00] crtrott commented on #58
It feels to me that it is something wrong with the compiler. Since the error explicitly states what is missing:
[code]

That is essentially saying:
[code]
is missing.

There are only two specializations of __no_unique_address_emulation: one of them clearly has an inline definition of that constructor, and I added one to the second. And I still get that issue.

[2021-06-09 04:20] quxflux commented on #55
Thank you for the quick fix 👍

[2021-06-10 03:18] #58 closed, assigned to nobody

[2021-07-06 07:04] tpadioleau opened #62 "`submdspan` conventions"
Is there a reason to use `[begin, end[` when taking a `submdspan` with pairs ? It is a different convention from `subspan` in `std::span` that uses the pair `(offset, count)`.

I also noticed that it is a free function whereas in `std::span` it is a member function.

Thomas P.

[2021-07-12 03:18] mhoemmen commented on #62
1. Inclusive begin, exclusive end has precedence in other languages, such as Python.  It's the C-style indexing version of what Fortran does.
2. `span` came from an early version of `mdspan`, so it might be more apt to ask this question of `span` ; - ) .
2. P0009 went through a _lot_ of review (it's on R12++ now).

[2021-07-15 12:34] jasonsewall-intel commented on #52
![image](https://user-images.githubusercontent.com/32203583/125788553-cf165318-1eee-4be0-972e-610a0ed97075.png)

That link is broken for me. The godbolt link on the front page (https://godbolt.org/z/ehErvsTce) also has what I consider a bug:

[code]

I think the j loop should have upper bound `m.extent(1)`. Obviously, the cord works here because `m.extent(0) == m.extent(1)` in this case, but if us

[2021-07-15 13:53] masterleinad commented on #52
The `Compiler Explorer` link should now be https://godbolt.org/z/fW5K9cKa5.

[2021-08-05 16:08] tpadioleau opened #63 "Submdspan issue"
I am trying the `submdspan` function and I have unexpected results. Here is my test

[code]

The output is the following where I print my expectation and the result:

[code]

Am I missing something ?

[2021-08-05 16:10] tpadioleau commented on #62
Thank you for explaining the rationale behind the choices.

[2021-08-05 16:10] #62 closed, assigned to nobody

[2021-08-05 23:15] mhoemmen commented on #63
The [`mdspan` proposal](https://wg21.link/P0009) does not specify the layout of the `mdspan` returned by `submdspan`.  It just specifies the behavior of the returned `mdspan`.  If I recall correctly, the intent was to allow implementation freedom.

In your second case, `submdspan` asks to view all the rows with `full_extent`, and a contiguous subset of columns.  This makes `layout_right` with stri

[2021-08-06 07:50] tpadioleau commented on #63
I understand your point, one cannot rely on the return type of `submdspan`.

In this case I don't think the layout can be `layout_right` which is contiguous by definition whereas the slice cannot be. The two mdspan `s` and `s1` don't seem to refer to the same elements in the codomain:
[code]
This returns `true` only for the first row. That is why I was expecting a stride of 10 for `s1.stride( 0 )`

[2021-08-06 15:33] mhoemmen commented on #63
Hm, I think you're right -- that does look like a bug.  Thanks for pointing this out!

[2021-09-01 19:33] michael-afanasiev opened #65 "Internal compiler error with nvcc + gcc"
Hi everyone,

I'm getting a compilation error with `nvcc` when using `gcc` as a host compiler. Using `clang` as a host compiler works, as does a CPU-only compilation. Godbolt link: https://godbolt.org/z/zrhP5zY9W.

Is this a bug, or am I misusing something here?

Thanks alot for your mdspan efforts! Really liking it so far.

[2021-09-03 22:24] weslleyspereira opened #66 "Failed to replicate an example with dynamic extents"
Hi! I am developing <T>LAPACK, a library with template implementations of BLAS and LAPACK: https://github.com/tlapack/tlapack/. There is an issue there (https://github.com/tlapack/tlapack/issues/6) where we are discussing the use of mdspan as an abstraction for our multidimensional arrays.

I faild to reproduce your examples with dynamic extents. Please, see here:
https://github.com/tlapack/tlapac

[2021-09-04 20:10] mhoemmen commented on #66
@weslleyspereira Hi there!  It looks like you're trying to construct a view-of-nonconst (`mdspan<float, ...>`) with a pointer-to-const (`const float*`).  You can't assign a pointer-to-const to a pointer-to-nonconst.  The fix is to use `mdspan<const float, ...>` as the matrix view type.

[2021-09-07 16:02] weslleyspereira commented on #66
Thanks, @mhoemmen! I knew it was a pretty simple doubt. :)

[2021-09-07 16:02] #66 closed, assigned to nobody

[2021-09-07 21:09] mhoemmen commented on #66
@weslleyspereira Gladly! : - )  You might find the [View section](https://github.com/kokkos/kokkos/wiki/View) of the Kokkos Programming Guide helpful background reading.  Some of that writing was my doing, a while back.  The most important difference between `mdspan` and `Kokkos::View` is that `mdspan` does not own its data, while `Kokkos::View` owns its data (by default).

[2021-09-10 18:05] Sebanisu opened #67 "Lack of begin() and end()"
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2021/p2374r1.html

I was thinking in cpp23 you could use `views::cartesian_product` to make `mdspan` into a `range`. You could convert the extents to a `views::iota` `(0...extent(0)` and pass those to `views::cartesian_product`. The result would be a `tuple` of coordinates. That we could use to read the value. Maybe we could have a function conver

[2021-09-10 20:11] mhoemmen commented on #67
Such a thing is possible.  However, there are a few issues.

1. `mdspan` permits nonunique layouts.  What does a "range" mean for those?  Indices have no such ambiguity.
2. Optimal iteration order depends on the layout and algorithm.  `cartesian_product` has a fixed order.
3. "Flattening" out multiple dimensions into a single dimension loses information that compilers and developers both use to op

[2021-09-10 21:41] Sebanisu commented on #67
Thanks for the reply. Those are definitely things I didn't think of.

I guess even if we don't have something built in the user can throw a function together. I would probably make something like this when cpp23 comes around.
[code]

[2021-09-10 21:41] #67 closed, assigned to nobody

[2021-09-12 22:49] mhoemmen commented on #67
@Sebanisu you might like to look at existing solutions, such as [Kokkos' `MDRangePolicy`](https://github.com/kokkos/kokkos/wiki/MDRangePolicy).  These address many of the concerns I pointed out above.

[2021-09-12 23:27] mhoemmen commented on #67
FYI, we're hopeful that mdspan will make C++23, but it hasn't been voted in yet.

[2021-09-17 21:41] michael-afanasiev commented on #65
Quick note: looks to be due to the use of `[[no_unique_address]]` -- turning of its use in mdspan allows the compilation to complete: https://godbolt.org/z/6hEYeqhGn.

[2021-09-20 20:14] mhoemmen commented on #65
@michael-afanasiev Thanks for diagnosing this issue!  "Internal Compiler Error" generally indicates a compiler bug.  Are you able to use the library without the `[[no_unique_address]]` feature for now?

[2021-09-20 23:11] michael-afanasiev commented on #65
@mhoemmen Yes, not a huge deal -- the nvcc + gcc builds can just turn it off. Not sure how much interaction you have with the nvcc team, but if it helps i could close this in favor of a report over on the nvidia forums.

[2021-09-21 15:33] mhoemmen commented on #65
@michael-afanasiev Please do submit this as an nvcc bug -- it helps to have more independent confirmation.  Thanks!

[2021-10-02 12:54] Babalion opened #68 "Not compatible with std::vector<bool>"
Consider the following code-snippet:
[code]

Obviously I'm trying to create a **mdspan** of a `std::vector<bool>`, but the following error occurs with CLang 12.0.1:
[code]

[2021-10-02 18:45] mhoemmen commented on #68
This is expected behavior, due to `std::vector<bool>` being a special case.

1. `std::vector<bool>` [does not necessarily store its entries as an array of `bool`](https://en.cppreference.com/w/cpp/container/vector_bool), so you can't just use the default `mdspan` accessor.
2. The C++ Standard [does not require](https://eel.is/c++draft/vector.bool) that `std::vector<bool>` even have a `.data()` met

[2021-10-07 15:59] michael-afanasiev commented on #65
@mhoemmen -- sorry, let this slip for a bit. nvcc issue filled [here](https://forums.developer.nvidia.com/t/issue-with-nvcc-gcc-and-no-unique-address/191507?u=michael.afanasiev).

[2021-10-08 18:09] mhoemmen commented on #65
@michael-afanasiev Thanks for filing the ticket! : - )

[2021-10-08 18:14] mhoemmen opened #69 "Bugs to fix for P0009R13"
@crtrott I compared the current P0009 draft and the mdspan implementation, and found the following inconsistencies and issues.
[code]

[2021-10-11 01:49] mhoemmen commented on #69
PR https://github.com/ORNL/cpp-proposals-pub/pull/153 addresses all the major concerns above.

[2021-10-11 01:51] mhoemmen opened #70 "P0009: noexcept? conditional noexcept?"
https://github.com/kokkos/mdspan/issues/69 talks a bit about noexcept specifications.  We do not require `noexcept` for layout mapping or accessor policies.  Should we consider conditional `noexcept` on `mdspan` methods?

[2021-10-12 20:54] mhoemmen commented on #70
Fixed by PR https://github.com/ORNL/cpp-proposals-pub/pull/156 .

[2021-10-12 20:54] #70 closed, assigned to nobody

[2021-10-13 19:46] #69 closed, assigned to nobody

[2021-11-16 03:40] #52 closed, assigned to nobody

[2021-11-16 03:40] #68 closed, assigned to nobody

[2021-11-16 03:48] crtrott opened #82 "Current Plans"
Items in order of priority:
- working on implementing all the changes in P0009R14.
  - Please excuse the churn - naming the branch "stable" was a bit aspirational ...
  - Note we hope that R14 will get full design approval for inclusion in C++23 *fingers crossed*
  - if that happens we will will tag another release implementing that approved version
- proper (and tested support) within the context

[2021-11-16 03:52] crtrott commented on #40
Note that we got now cartesian product on its way. As a first step you can create a cartesion product of iota_views of the extents. http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2021/p2374r1.html

[2021-11-16 04:55] mhoemmen commented on #68
@crtrott check this out
[code]

[2021-11-16 04:57] crtrott commented on #68
Accessors are awesome aren't they :-)

[2021-11-17 05:42] jbigot commented on #40
I just attended Bryce Adelstein Lelbach presentation at [P3HPC](https://p3hpc.org/workshop/2021/program/) where I noticed that. This is very exiting indeed!

[2021-11-18 00:40] rscohn2 opened #89 "Compilation failure with clang++ and icpx"
I cannot compile with clang++ or icpx using submdspan. Is this expected to work?

[code]

[code]

[2021-11-18 05:29] #63 closed, assigned to nobody

[2021-11-18 05:32] crtrott commented on #89
Yeah I discovered that problem too. I am not sure why it thinks that is not a constant expression since __extents.rank() is a constexpr function return a compile time thing. But in #88 I replaced those with `extents_type::rank()`

[2021-11-18 05:35] crtrott commented on #89
I merged it this should work now again.

[2021-11-19 14:14] rscohn2 commented on #89
Thanks! It works.

Would it be helpful if I added an icx build to the CI?

[2021-11-19 14:14] #89 closed, assigned to nobody

[2021-11-19 14:20] dalg24 commented on #89
Yes

[2021-11-23 04:34] crtrott opened #97 "NVIDIA NVCC ICE-1"
- branch: https://github.com/crtrott/mdspan/tree/cuda-ICE-1
- SHA: f083b6dfefe2
- cmake command:
  `cmake -DMDSPAN_ENABLE_TESTS=ON -DMDSPAN_ENABLE_CUDA=ON -DMDSPAN_CXX_STANDARD=17 -DCMAKE_CXX_STANDARD=17 -DCMAKE_CUDA_FLAGS="--expt-relaxed-constexpr" ../`
- Version: cmake 3.21.1, GCC 9.2.0, NVCC 11.1, 11.4[from nvhpc] (didn't test others yet)

Error 11.1:
[code]

Error 11.4:
[code]

[2021-11-23 10:57] tpadioleau opened #98 "Compilation bug regarding `extents`"
### Bug report

#### Steps to reproduce

Compile the following snippet.

[code]

[code]

#### Environment

- mdspan/0.1-0.2
- nvcc/11.4.48
- g++/9.2.0
- cmake/3.21
- cmake options: `CMAKE_CUDA_ARCHITECTURES=70`
- need to disable `no_unique_adress` feature to avoid problem mentionned in #97 and #65

#### Expected result

Successful compilation

#### Actual result

[code]

#### Comments

- The compi

[2021-11-29 06:53] stigrs opened #99 "mdspan.hpp (line 268): conversion from size_t to int"
Calling rank() gives a conversion from size_t to int, possible loss of data warning at line 268 in mdspan.hpp

[2021-11-29 14:28] bernhardmgruber opened #100 "Consuming mdspan as dependency"
I would like to use `mdspan` in some of my cmake-based projects as a dependency. I found a conan package [here](https://conan.io/center/mdspan). I did not find a package for spack or vcpkg.

Do you have any plans for creating/maintaining packages for the aforementioned package managers?

From a quick look at the `CMakeLists.txt`, it also looks like one could include `mdspan` via `add_subdirectory`

[2021-11-29 18:55] #99 closed, assigned to nobody

[2021-11-30 11:59] bernhardmgruber commented on #100
Ok, it seems there is a vcpkg port available that is about a month old: https://github.com/microsoft/vcpkg/pull/21170.

[2021-11-30 13:44] bernhardmgruber commented on #97
I tend to get those ICEs when using `[[no_unique_address]]`, which nvcc interprets despite not being in C++20 mode. If you enable the same workaround as for MSVC in `config.hpp:119` (disabling `[[no_unique_address]]`) for nvcc as well, the error no longer triggers.

[2021-11-30 15:59] bernhardmgruber opened #102 "Structured bindings for `extents`"
The `extents` class could provide support for structured bindings to improve its usability. This way, we could transform your example from:
[code]
to:
[code]
See your modified example: https://godbolt.org/z/enYcvbG8a

It's not a huge improvement, but with increasing rank, it can save some redundant mentioning of `m.extents(...)`. Or prevent accidentially passing the wrong index ;)
It also helps wh

[2021-11-30 16:14] bernhardmgruber opened #103 "`extents::operator[]`"
Allowing some extents to be compile time constants in the `extents` class is super useful. I generally regard the `extents` class as an array of compile and runtime indices. As such, I would also like to treat it more like an array and e.g. be allowed to subscript it. So instead of:
[code]
I could write:
[code]
Is there a specific reason for not providing `operator[]` on `extents`? It would improv

[2021-11-30 17:17] crtrott commented on #102
This seems like a good extension. We can't change the current proposal to add stuff like this in time for C++23 however since the design approval cutoff is basically here. But we should be able to do this as a separate paper on top of P0009 targeting C++26.

[2021-11-30 17:24] crtrott commented on #103
Its actually an interesting question: I actually have considered to propose something like `partially_static_array` which is what the underlying storage thing for extents in our implementation is. Besides that we can consider adding such an operator, generally extents is a bit more than just an array. Stuff like `rank` or `dynamic_rank` have a pretty specific meaning, though with slightly differen

[2021-11-30 17:26] crtrott commented on #98
I am actually working on making nvcc work in CUDA mode that should come forth in the next couple weeks. Your reported bug is something I fixed in that.

[2021-11-30 17:26] crtrott commented on #97
jup

[2021-11-30 17:31] crtrott commented on #100
Yeah we probably should add a spack package. In principle you should be able to use it via add_subdirectory, I mostly have installed it though via raw cmake.

[2021-12-01 07:49] tpadioleau commented on #98
Awesome I would be curious to know the origin of this behavior.

[2021-12-01 16:47] crtrott commented on #98
This was reported to NVIDIA, its simply a bug in the compiler. My guess would be that it has to do with the host compiler and nvcc treating the attribute differently leading to a different class layout internally, and then some part in the compiler which expects consistency between the host side layout of the class and the device side layout of the class crashes.

[2021-12-02 09:26] tpadioleau commented on #98
If I understand you correctly you seem to be making a link with the `[[no_unique_address]]` attribute bug ?

It seemed to me it was a different bug as I disabled the `[[no_unique_address]]` feature to make this bug appear.

[2021-12-07 10:00] danra opened #104 "Wiki tutorial seems out of date"
First-time mdspan user here so I might be mistaken.

As an example, the following code from https://github.com/kokkos/mdspan/wiki/A-Gentle-Introduction-to-mdspan#what-is-mdspan doesn't compile with the mdspan-0.2.0 release:

[code]

Since a type template argument is expected where 2 is given.

It seems the current correct way of saying the above is:
[code]

[2021-12-07 22:56] mhoemmen commented on #104
Thank you for pointing this out.  We haven't had a chance to update the tutorial yet.  The implementation closely tracks the [current version of the proposal P0009](https://wg21.link/p0009).

[2021-12-08 21:57] stigrs opened #105 "Choice of std::size_t for subscripts?"
The C++ Core Guidelines recommends signed integers for subscripts (ES.107). Given the need for mdspan in scientific computing, it seems like a signed integer for subscripts would be more appropriate. Also for calling BLAS.

[2021-12-09 04:39] mhoemmen commented on #105
If you'll take a look at the changelog in [the mdspan proposal P0009](http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2021/p0009r14.html), LEWG asked us to change from signed integers to `size_t`, to make `mdspan` consistent with `span` and other Standard Library components.  This wasn't our idea, but we made the change before R11 (we're at R14 now) as requested by the working group.

[2021-12-09 04:39] #105 closed, assigned to nobody

[2021-12-16 08:05] stigrs opened #107 "Building with MSVC 2019 fails"
The commit "Fix building mdspan tests as CUDA code" (6930871) seems to break building with MSVC 2019:

D:\a\1\s\build\_deps\mdspan-src\include\experimental\__p0009_bits\extents.hpp(243,1): error C2121: '#': invalid character: possibly the result of a macro expansion
D:\a\1\s\build\_deps\mdspan-src\include\experimental\__p0009_bits\extents.hpp(277,1): error C2121: '#': invalid character: possibly t

[2021-12-17 06:22] trivialfis opened #109 "Avoid converting index to `size_type`"
The call operator for both mdspan and layout policy mappings have template parameter `Index` for accepting index with types different than `size_t`.  Is it possible to remove the conversion that occurred in https://github.com/kokkos/mdspan/blob/183cab273ceb356091dee60b5c3f936e4850b7e5/include/experimental/__p0009_bits/mdspan.hpp#L245 ?

I'm happy to open a PR if such change is welcomed. ;-)

[2021-12-17 14:09] dalg24 commented on #109
Yes it looks like an oversight

Please do

[2021-12-17 17:05] trivialfis commented on #109
Thanks, will submit a PR.

[2021-12-20 05:46] mhoemmen commented on #107
May we ask what compiler flags you are using with MSVC 2019?  Also, what version of MSVC 2019 are you using?

[2021-12-20 21:19] crtrott commented on #107
I can confirm that I see this too. We definitely need to set up more PR testing ...
I think MSVC doesn't like the ifdefing inside a macro. So I just need to replicate more stuff ...

[2021-12-20 21:24] crtrott commented on #107
#111 Is the fix.

[2021-12-20 22:21] #107 closed, assigned to nobody

[2021-12-21 13:34] tpadioleau commented on #100
If it can help I started to write a minimalist spack recipe for testing. You can find it [here](https://github.com/pdidev/spack/blob/c13cc850af8886474a9b7a256419558b89fb4a41/packages/mdspan/package.py).

[2021-12-21 16:49] stigrs opened #112 "standard_layout_static_array.hpp: warning C4100: '__tag': unreferenced formal parameter"
An 'unreferenced formal parameter' warning is generated at lines 400 and 510 in standard_layout_static_array.hpp when compiling with MSVC 2019 and warning level 4 enabled. Seems like it can be fixed by changing
`__construct_psa_from_dynamic_exts_array_tag_t<_IDynamic>  __tag ,`
to
 `__construct_psa_from_dynamic_exts_array_tag_t<_IDynamic> /* __tag */,`

[2021-12-21 17:05] dalg24 commented on #112
Thanks for reporting

[2021-12-21 23:10] #112 closed, assigned to nobody

[2021-12-22 22:01] crtrott commented on #109
It is actually not quite clear-cut that it is a good idea to remove the explicit conversion. Say you index into something like this:
[code]

without the conversion it might try to compute the offset using `int` and overflow. We are discussing what to do about this.

[2021-12-22 22:05] crtrott commented on #109
Just to elaborate: currently mdspan just requires that the arguments to its access operator are convertible to size_type. Furthermore the requirements table for mapping says that the i... it takes is an index in the multi-dimensional index space. That means a custom mapping type may not need to support arbitrary types coming in. It would be valid to write a mapping which ONLY supports size_t being

[2021-12-22 22:25] crtrott opened #115 "Construction from C array"
Just saving a godbolt link here: https://godbolt.org/z/o4aGaEcdc

[2021-12-23 17:59] seanbaxter opened #116 "submdspan description"
Is there an explanation for `submdspan` in English? I have no idea what to do with it. I wrote a new mdspan implementation. All the tests pass, except `test_submdspan.cpp`.

I've implemented the `map_rank`, `first` and `last` arrays here:
https://github.com/seanbaxter/mdspan/blob/circle/circle/experimental/mdspan#L705

I get confused at this part:

Why is `i...` not just the contents of `first`? W

[2021-12-25 16:29] bernhardmgruber opened #117 "Are pitched allocations supported?"
I spent some time playing with `mdspan` as abstraction to access multidimensional CPU/GPU buffers in [alpaka](https://github.com/alpaka-group/alpaka). You can think of these buffers as similar to `Kokkos::View`s. Now, higher-than-one dimensional buffers may employ padding between rows to align the start of each row at an address of a hardware specific multiple. This is analog to e.g. `cudaMallocPi

[2021-12-27 05:05] mhoemmen commented on #117
That's exactly right.  The layout mapping maps a multidimensional index to a 1-D element offset.  The accessor, in turn, maps the offset to a reference.  `default_accessor` does this just as `std::span` would.  However, a generic accessor and pointer need not even point to memory.  There might not be any "bytes" there.

It looks like you're quoting the definition of `required_span_size()` for `lay

[2021-12-27 05:33] mhoemmen commented on #116
Hi Sean!  The definition is hairy because it's declarative.  It has to say, for _any_ valid source multidimensional index `i...`, what target multidimensional index `j...` would result in `sub(j...)` and `src(i...)` referring to the same element.  We're describing the function from a valid target multiindex `j...` to a valid source multiindex `i...`.  We describe it declaratively because the descr

[2021-12-27 21:23] seanbaxter commented on #116
I implemented things from the other direction. I compute which LayoutPolicy to use (left, right or stride) from paragraph 8, and go from there:

[code]

This is straight from the R14 proposal so I feel confident that it is correct. All three layout return types have the same pointer-offset calculation:
[code]

The extents used in the return mapping is computed according to the proposal:
[code]

I

[2021-12-27 21:23] #116 closed, assigned to nobody

[2021-12-27 22:25] mhoemmen commented on #116
@seanbaxter wrote:

Right, they are exposition only.  I'm sure we would welcome ideas about how to word this more clearly.

I don't recall that we referenced any existing standards directly when coming up with the spec.  The Fortran Standard (e.g., Section 9.5.3.2, "Array element order," and 9.5.3.3, "Array sections") uses English words and is much less formal.  For example, here is Fortran's way

[2022-01-04 19:31] crtrott commented on #117
One more thing: there are very likely more layouts we want to eventually propose for the standard. The BLAS proposal P1673 for example proposes the common layouts used in BLAS (which has a single free stride parameter, but is not arbitrarily strided in both dimensions of a matrix). However, for the initial proposal we need to keep it to a manageable subset of what we need. Hence we proposed C-layo

[2022-01-06 19:30] crtrott commented on #104
I fixed the biggest wrongness in it. I will also schedule some time to develop a proper tutorial for the entirety of mdspan, but it will take a little bit.

[2022-01-10 18:29] bernhardmgruber commented on #117
Thanks for pointing this out! `layout_left` and ` layout_right` are indeed contiguous per definition from P0009R14. Looking at the more general requirements for `m(i...)`  and `m.required_span_size()` I am slightly confused. `m(i...)` claims to return "A value in the range of [0, required_span_size() )", while `m.required_span_size()` claims to return "... 1 plus the maximum value of m(i...) for a

[2022-01-11 20:29] crtrott commented on #117
I see what you are talking about now. In some sense the thing here is not the layout but the accessor. No matter whether this 1D or 2D or 5D, I think this looks like you want to have 5 consecutive 12byte elements aligned to 64byte, which has nothing to do with the mapping of logical indicies to a 1D offset. In fact the problem is that you can't represetn this as indexing into a RGB*.

So what I wo

[2022-01-17 14:44] bernhardmgruber commented on #117
Hmm, you are right here. The reason why I would want to put this logic into the layout mapping is that the division/modulo and remultiplication in the accessor is more expensive than multiplying with the right values in the layout mapping in the first place.

And you are correct that the behavior I am requesting would not work on a `T*` but only on byte pointers like `char*` or `std::byte*`.

Mayb

[2022-01-17 15:36] rscohn2 opened #119 "Cannot assign mdspan"
See https://godbolt.org/z/5EG6n5bfc

I cannot assign one view to another. There is a runtime assertion for:
[code]
Is this an invalid use?

Here is the same program in case goldbolt link is no longer valid:

[code]

[code]

[2022-01-17 16:09] mhoemmen commented on #119
I'm a bit surprised that this even compiles; it makes me wonder if the single-header implementation needs updating.

1. The `mdspan` `m` has compile-time extents that its constructor deduces from `stdex::extents{4, 4}`.  The extents are part of the type of `m`; assignment cannot change them.  The `mdspan` `view` has different extents, so it _should_ be a compilation error to assign `view` to `m`.

[2022-01-17 17:42] rscohn2 commented on #119
Thanks for the explanation. I needed to store the result of submdspan, and I could not use auto. I was using:
[code]
when I should have been using:
[code]

[2022-01-17 17:42] #119 closed, assigned to nobody

[2022-01-17 22:02] mhoemmen commented on #119
@rscohn2 Glad to be helpful! : - )  The specification (certainly as of R14) spells out precisely when you would expect to get `layout_stride` from `submdspan` with a `layout_left` or `layout_right` input.  It should be possible to write a type alias that deduces the returned layout type from the types of the inputs, without using `auto` or `decltype`.

[2022-01-30 21:04] maxnoe opened #120 "Godbolt example has a subtle bug"
[code]

I guess that should be `m.extend(1)` for the second loop for the 2d md-span

[2022-02-10 18:41] crtrott commented on #109
Note we are writing a change request against mdspan to address the size_t issue. Effectively we would add another template parameter to extents which sets the size_type which then is used by mapping and mdspan. However we can't default it, due to the variadic templates coming after it.

[2022-02-10 18:49] #120 closed, assigned to nobody

[2022-02-18 00:30] crtrott commented on #115
#122

[2022-02-19 06:22] Mick235711 opened #123 "Array indexing of `mdspan`"
I found an interesting poll in the revision history of P0009:
<img width="914" alt="image" src="https://user-images.githubusercontent.com/22275534/154788593-60a0d967-26ef-4097-b765-4bb3a34305a6.png">
There seems to be consensus in LEWG for allowing static-extent span indexing... except that change seems lost and never implemented in P0009.

Actually, if we want maximum flexibility, we can support

[2022-02-21 16:10] crtrott commented on #123
This was dropped later, in the process (I mean that vote was like 4 years ago) and basically the team behind mdspan said that indexing with a span is kinda not useful since you essentially inject multiple additional memory dereferences for each actually intended memory access. Somehow, we didn't fully consider that issue when we voted on allowing span. Furthermore, as you noted we didn't realize s

[2022-02-21 16:16] Mick235711 commented on #123
I think that arise with the current `array` overload too?

Of course, this is just a preliminary discussion and I am by no means want to block P0009 or change it. Adding an operator[] is a non-breaking change (I presume) and more suitable for a C++26 follow up paper. I'm just discussing some possible options.❤️

[2022-02-21 17:03] crtrott commented on #123
The array overload does not necessarily have that problem since the array owns static storage i.e. a size_t[N], which the compiler can put into registers. So generally std::array is less problematic from that perspective than std::span.

Note also that we already are using [] operator and not () in the proposal. Our implementation does support both, though none of the main line compilers implement

[2022-02-21 22:50] Mick235711 commented on #123
That's a new perspective. Thanks! I think that may alone reject 3, 6 and 7. Maybe I need to do some assembly inspection before writing a proposal for this...

Yeah, I know that (and btw, GCC 12/Clang 15 seems to implement it already, so there is hope). My original suggestion is to *replace* the current
[code]
with something like
[code]
(Does not seem particularly necessary... maybe this need more

[2022-02-22 13:27] fwyzard commented on #117
@crtrott can you confirm if his is indeed impossible ?

[2022-03-03 19:13] rscohn2 opened #126 "godbolt example fails with nvc++ 22.2"
The godbolt examples fails with nvc++
[code]

From nvidia hpc sdk 22.2: https://developer.nvidia.com/nvidia-hpc-sdk-downloads

[code]

[2022-03-03 20:21] rscohn2 commented on #126
Using explicit types works:

[code]

[2022-03-03 20:33] rscohn2 commented on #126
But is still broken for my actual code:

[code]

Here it is:

[code]

[2022-03-03 20:35] rscohn2 commented on #126
Something about the constexpr breaks it because this works:

[code]

output:

[code]

[2022-04-05 23:39] crtrott commented on #126
Sorry overlooked this coming in. We can take a look. nvc++ and nvcc sometimes have unique issues since they use edg which none of the other compilers do.  @brycelelbach any idea? I can try reproduce it myself too.

[2022-04-06 13:37] brycelelbach commented on #126
I'll ask someone to look at this.

[2022-05-10 17:29] pfeatherstone opened #130 "Expression template support?"
Is that on the agenda ?

[2022-05-11 04:27] mhoemmen commented on #130
One can use mdspan's accessor policy to implement elementwise expression templates.  P1673 does this in a limited way with `conjugated` and `scaled`.

[2022-05-23 14:18] chrisrichardson opened #131 "Compilation with non-gnu compilers and `-pedantic`"
When compiling with e.g. clang and `-pedantic` the following type of warnings are triggered:

[code]
For some applications, we are using `-Werror -pedantic` which then causes this code to fail...

[2022-05-23 17:21] crtrott commented on #131
see #132

[2022-06-05 05:09] Steve132 opened #134 "Should mdarray inherit mdspan? Fold mdarray into mdspan?"
It seems like it's very very important for the array specification that `mdarray<Args...>` should inherit from `mdarray<Args...>::view_type`.   or perhaps there should be a series of implicit conversation operators defined to allow that implicit conversion.

When actually *writing* libraries that use mdarray as a base, then the natural desire is to write code such as

	typename<class T,class ...Ar

[2022-06-05 23:05] mhoemmen commented on #134
Thank you for the suggestions!

I can't speak for the other coauthors, but I would prefer implicit conversion over inheritance.  Precedence in the Standard Library is that `string` converts to `string_view` via `string`'s `operator basic_string_view`.  A container is not a view, so making `mdarray` inherit from `mdspan` would violate substitutability.

[2022-06-16 19:46] crtrott commented on #131
Was on vacation a while, closing this assuming your thumbsup meant that worked for you.

[2022-06-16 19:46] #131 closed, assigned to nobody

[2022-06-16 19:52] crtrott commented on #134
Yeah definitely conversion. In fact the proposal has a conversion operator. However that will not trigger for

[code]

since it can't deduce the template arguments.

But I think we can fix that by proposing a deduction guide for mdspan, from mdarray, and a constructor for mdspan from mdarray.

[2022-06-16 20:21] Steve132 commented on #134
This is fully acceptable to me

[2022-06-16 20:46] crtrott opened #136 "Breaking changes due to C++ committee review"
Hi all,

there are a number of breaking changes upcoming which stem from the intense review mdspan got now that its is nearing inclusion into the C++23 standard. These are described in P2553, P2554, P2604 and P2599.

All of these changes are getting merged into P0009 (the main mdspan paper) as part of the final wording review in LWG.

We created an mdspan-0.3.0 tag before any of this hits the repo

[2022-06-17 21:21] mhoemmen commented on #126
@brycelelbach @crtrott I tested nvc++ (from the most recent NVHPC 22.5 release) with the mdspan-0.3.0 tag (before the most recent breaking changes to mdspan; see https://github.com/kokkos/mdspan/issues/136) and the following configuration.
[code]
I got to `test_contiguous_layouts.cpp` and then my terminal blew up with error messages starting like the following:
[code]
and ending with something run

[2022-06-17 21:34] mhoemmen commented on #126
I filed an nvc++ bug and will continue to track there.

[2022-06-23 16:06] crtrott commented on #136
P2553 and P2554 are now fully integrated into reference implementation. The renamings are not yet done however.

[2022-06-23 16:08] crtrott commented on #123
Update: LWG did want the span indexing, so we have that now ...

[2022-06-23 16:11] #17 closed

[2022-06-24 10:38] stigrs opened #144 "Problems with compiling the test suit with MSVC 2022"
I am trying to compile the latest commit (9e2b68a) on the stable branch of mdspan with MSVC 2022, but the compiler gives several complaints for the test suite:
[code]

[2022-06-25 05:30] crtrott commented on #144
I will take a look. I did fix it for VS 2019 like a day or so ago.

[2022-06-27 08:18] stigrs opened #145 "Returning address of local variable or temporary at line 346 in mdspan.hpp"
MSVC 2022 gives warning C4172: returning address of local variable or temporary at line 346 in mdspan.hpp.

[2022-06-27 15:38] crtrott commented on #145
Do you know in which context? I can't immediately see how this would be a local variable or temporary, tracking it all back it just goes through a sequence a const & returning calls I believe.

[2022-06-27 15:49] crtrott commented on #144
Can you give me a configuration and exactly what compiler version? I don't see this. I.e. I can compile with MSVC 2022 doing a release build.

[2022-06-27 15:50] crtrott commented on #145
I don't see this warning in my MSVC 2022 build, can you provide more detailed reproducer?

[2022-06-27 18:48] stigrs commented on #144
My compiler version is 19.32.31332. My CMakeSettings.json is:
[code]

[2022-06-27 18:56] stigrs commented on #144
I also tried to build on the command line with cmake (cmake version 3.22.22040401-MSVC_2):
[code]

[2022-06-27 20:46] stigrs commented on #145
This could be a problem on my end. I tried to reproduce the warning, but was unable to. This issue can be closed. My apologies.

[2022-06-27 22:36] crtrott commented on #144
Can you try explicitly setting -DCMAKE_CXX_STANDARD=20 -DMDSPAN_CXX_STANDARD=20 there is some cmake issue where it doesn't set the standard correct by auto detection I think?

[2022-06-27 22:37] #145 closed, assigned to nobody

[2022-06-28 01:21] crtrott commented on #144
Reproduced with the latest MSVC 2022 :-( Something which broke in 19.32 vs 19.31 or so.

[2022-06-28 01:24] crtrott commented on #144
Here is the godbolt reproducer (note this will change later when the linked mdspan version might get updated): https://godbolt.org/z/K8zWfszKd

Fails with MSVC 19.32 but works with 19.31 and prior ...

[2022-06-28 01:26] crtrott commented on #144
Note that thing also works with any other compiler I tested (various GCC and CLang).

[2022-06-28 02:13] crtrott commented on #144
Gonna do a non-mdspan reproducer for bug report to microsoft, and trying to figure out how to work around this thing.,

[2022-06-28 03:14] crtrott commented on #144
Reproducer without mdspan: https://godbolt.org/z/x4rEK9njo works with MSVC prior to 19.32, and with GCC/Clang. Workaround don't use the typedef `size_type` but `Extents::size_type` in the requires clause.

[2022-06-28 04:34] crtrott commented on #144
#146 is the fix for this.

[2022-06-28 20:56] crtrott commented on #144
Closing this, please let us know if you have more issues.

[2022-06-28 20:56] #144 closed, assigned to nobody

[2022-06-28 23:24] mhoemmen opened #148 "nvc++ build error test_contiguous_layouts.cpp"
Building `tests/test_contiguous_layouts.cpp` with nvc++ 22.5-0 fails, because the type lists are too long.  Work-around is to split up the type lists.

Errors look like this (with much more text than this):
[code]

[2022-06-29 15:58] #148 closed, assigned to nobody

[2022-06-30 15:37] crtrott commented on #136
There is a mdspan-0.4.0 tag which has P2553 and P2554 merged, while stable branch has now the renames done.

[2022-07-01 15:47] gonzalobg opened #152 "Add constructor from mdspan to mdarray"
It would be really nice to have a conversion from mdspan to an mdarray with suitable extents and layouts.

For one dimensional arrays and spans, layout_left vs layout_right should not make a difference.

It would also be nice to have a conversion from 1D mdpsan and mdarrays with compile-time extents to std::array.

[2022-07-01 15:56] mhoemmen commented on #152
Hi Gonzalo!  Thanks for reporting this!

The proposal (P1684) actually includes both a constructor from mdspan, and an assignment operator from mdspan.  These features are just missing from the reference implementation.

It doesn't make a difference in the proposal.  Assignment from `layout_left` to `layout_right` or vice versa already works for `mdspan`, and should work with mdspan-to-mdarray as

[2022-07-01 15:59] mhoemmen commented on #152
@gonzalobg I've added the proposal feature requests as https://github.com/ORNL/cpp-proposals-pub/issues/278 (already existing) and https://github.com/ORNL/cpp-proposals-pub/issues/280 (new).

The missing mdspan-to-mdarray constructor and assignment operator are implementation bugs.

[2022-07-05 16:55] mhoemmen opened #153 "MSVC 2022 build warning"
Reported here: https://github.com/kokkos/stdBLAS/issues/242#issuecomment-1174955863

With MSVC 2022, when compiling with `/W4`:
[code]
Reported verified that a fix is to change
[code]
to
[code]

[2022-07-05 16:59] stigrs opened #154 "Error building on macOS 11: expected concept name with optional arguments in layout_stride.hpp"
I tried to build mdspan on macOS 11 using AppleClang 13.0.0.13000029, and got the following errors:
[code]

[2022-07-05 17:01] mhoemmen commented on #153
Correction: this is actually a stdBLAS issue.  kokkos/stdBLAS has an old version of this header.  The new version in kokkos/mdspan doesn't appear to have this issue.

[2022-07-05 17:01] #153 closed, assigned to nobody

[2022-07-05 17:22] mhoemmen commented on #154
@stigrs Thanks for reporting!  The concept is protected by `#if  _MDSPAN_USE_CONCEPTS && MDSPAN_HAS_CXX_20`, and [Clang 13 supposedly supports concepts](https://en.cppreference.com/w/cpp/compiler_support/20), so here are some possibilities.

1. Clang 13 can't deduce that `same_as` means `std::same_as` (even though this all takes place in the scope of `namespace std`)
2. `<concepts>` hasn't been in

[2022-07-05 17:27] crtrott commented on #152
I don't think that `mdspan` -> `std::array` makes sense. mdspan is non-owning, std::array isn't. You can't convert `std::string_view` to `std::string` or construct a `std::array` from a `std::span` either.

[2022-07-05 17:33] crtrott commented on #154
Note I can reproduce this with clang13 on linux

[2022-07-05 17:42] crtrott commented on #154
The breakage on clang13 for me is that by default it was using GCC 9 headers from some gcc install. It still was defining __cpp_concepts but didn't have the <concepts> include or the concepts available. Telling my clang-13 to use gcc11 header files (or presumably its own stdlib stuff) fixes the issue.

[2022-07-05 17:48] crtrott commented on #126
I think we have nvc++ in general now working or? At least 22.3 and up?

[2022-07-05 17:58] mhoemmen commented on #126
Yup, I've been testing with nvc++ 22.5.  I specifically fixed the `test_contiguous_layouts.cpp` issue for nvc++ 22.5.

[2022-07-05 18:00] crtrott commented on #154
could reproduce on Mac: including concepts fixes the issue.

[2022-07-05 18:02] crtrott commented on #154
See #155

[2022-07-05 18:15] gonzalobg commented on #152
I think this should be a constructor, like the constructors that `std::string` has from `std::string_view`, a`char*`, etc.

However, the C++ language that we have today, combined with the guarantees provided by `std::array`, prevents us - AFAICT - from adding _any_ constructors to `std::array`.

So while I'd prefer a constructor, I think that for anything involving `std::array`, a conversion opera

[2022-07-05 19:00] crtrott commented on #152
Hm for some reason with the compiler I had the std::string from string_view didn't compile, but I see it has that constructor. However my point about span -> array stands doesn't it? I.e. you can't create an array from a span? If so I still think we first need to make that work before we can do it for mdspan (or at the same time).

[2022-07-05 19:01] crtrott commented on #126
Yeah I think we can close this.

[2022-07-05 19:01] #126 closed, assigned to nobody

[2022-07-05 19:15] #154 closed, assigned to nobody

[2022-07-05 19:58] gonzalobg commented on #152
Yes, that's not supported.

And I agree, I think this should be supported for both std::span and std::mdspan.

[2022-07-14 11:52] stigrs opened #157 "-Werror=logical-not-parentheses at line 534 in layout_stride.hpp"
g++-10 gives a -Werror=logical-not-parentheses error at line 534 in layout_stride.hpp:
[code]

[2022-07-14 15:04] mhoemmen commented on #157
Thanks for reporting!  PR https://github.com/kokkos/mdspan/pull/158 should fix this.

[2022-07-14 15:38] #157 closed, assigned to nobody

[2022-07-22 18:58] mhoemmen commented on #123
Closing because the desired feature was added.  Please feel free to reopen if this is not the case.  Thanks!

[2022-07-22 18:58] #123 closed, assigned to nobody

[2022-07-22 19:19] mhoemmen opened #160 "Document where integer overflow - related preconditions get checked"
A user recently asked what parts of mdspan impose preconditions relating to integer overflow.  One can deduce this from the proposals, but it would make sense to restate the preconditions in a single place for tutorial material.

One source of confusion was just where one can find the final version of mdspan.  This lives in the proposals to be voted on Monday 2022/07/25: P0009R18, P2599R2, P2604R0

[2022-07-26 04:46] crtrott commented on #136
All relevant papers were approved for C++23 inclusion. The only two missing things in the implementation we are aware of are the `empty()` function and the `swap` specialization. Everything else should reflect the status of the merged papers. We will add an option to turn on strict C++23 mode - i.e. only enable things actually voted into C++23 - which does not (for running out of review time reaso

[2022-07-28 04:15] trivialfis opened #161 "Define `_MDSPAN_NO_UNIQUE_ADDRESS` based on CXX version."
Hi, we run into an issue with nvcc 1.6 and g++ 9.4 using c++ 17. The macro `_MDSPAN_NO_UNIQUE_ADDRESS` is defined differently by these two compilers. I opened a fix https://github.com/rapidsai/raft/pull/764, do you think it's a viable approach and would you like to have it in here as well?

[2022-07-28 14:56] mhoemmen commented on #161
@trivialfis Thanks for reporting this and for proposing a fix!  I'll comment on the PR link you posted; thanks!

[2022-07-28 16:42] crtrott commented on #161
yeah seems ok to me

[2022-07-28 16:44] crtrott commented on #161
Need to check whether testing passes with that though. Also its not that the macro would be differently defined, I think its just that one of them does apply it correct and the other doesn't.

[2022-07-28 16:45] crtrott commented on #161
It may also be worthwhile to check whether it works correct with something like NVCC 11.7 and GCC 11 as the host compiler, since the no_unique_address business does help reduce register pressure I would assume.

[2022-07-28 20:09] crtrott commented on #161
Also I am not 100% sure that it would fully work, whats the minimum GCC version for C++20 mode with mdspan? If it is like GCC 9.2 then it might still not work with nvcc+gcc in C++20 mode

[2022-07-29 04:56] trivialfis commented on #161
This test failed with g++ 9.4 https://github.com/kokkos/mdspan/blob/d56cb92d27a78be0e64efc7788697af1f91ae695/compilation_tests/ctest_no_unique_address.cpp#L96 but succeeded with g++ 11.2. I think g++ 11 is required to pass it. For both g++ 9.4 and g++ 10.3, the `__cpluscplus` macro is defined as `201709` when `-std=c++20/-std=c++2a` is specified, while g++11.2 defines the value as `202002`.

[2022-07-29 05:00] trivialfis commented on #161
https://github.com/kokkos/mdspan/blob/d56cb92d27a78be0e64efc7788697af1f91ae695/include/experimental/__p0009_bits/config.hpp#L138 This might also cause troubles. Since nvcc is usually used in combination with other compilers, I think making specialization for it is quite dangerous.

[2022-07-29 05:13] mhoemmen commented on #161
@trivialfis wrote:

I appreciate your caution, but @crtrott has been using nvcc in combination with other compilers for quite a while now : - ) .  We'll certainly take a look at this.

[2022-07-29 06:48] achirkin commented on #161
I don't mean to doubt you expertise, but this statement looks a bit funny in the context of the issue that has bugged several projects in a very obscure way :-)

[2022-07-29 06:53] johan-overbye opened #166 "submdspan unable to yield static extents"
First of all, thank you so much for this amazing proposal. Really hope it makes it into the standard!

One thing that's putting a slight damper on its usefulness, is that `submdspan` yields a dynamic extent even if a static extent is possible. In fact it looks like it _can't_ be implemented to yield static extents, as the extents are determined by function arguments. Also, `mdarray` support is sor

[2022-07-29 14:54] mhoemmen commented on #166
@johan-overbye wrote:

Thanks for the kind words!  WG21 voted it into C++ on Monday, so it is officially in the Standard (at least the current Standard draft).

PR https://github.com/kokkos/mdspan/pull/159 , which merged yesterday, fixes this.  You can see examples [in the tests here](https://github.com/kokkos/mdspan/blob/stable/tests/test_submdspan_static_slice.cpp).  To ensure a compile-time ext

[2022-07-29 14:55] #166 closed, assigned to nobody

[2022-07-29 15:22] johan-overbye commented on #166
@mhoemmen Wow, congrats on the vote! That's great news. 🥳

Thanks for the heads-up on this new feature, however it doesn't quite seem to solve the use case I described unless I'm missing something.

In the use case above, the idea was that one or more extents of the subset are compile-time determined, but the corresponding offsets are run-time determined. This doesn't seem to be covered by the add

[2022-07-29 15:38] johan-overbye commented on #166
Wait a second, I see now that this new submdspan _does_ support the particular example I highlighted above (grabbing a matrix row at a run-time-determined row index), because the row dimension is "collapsed". Very cool!

However I'd still argue the that enabling a run-time offset and a compile-time extent would be very useful. @mhoemmen

[2022-07-29 18:09] mhoemmen opened #167 "mdspan::size() should return size_t, not size_type"
https://github.com/kokkos/mdspan/blob/d56cb92d27a78be0e64efc7788697af1f91ae695/include/experimental/__p0009_bits/mdspan.hpp#L342

Per P0009R18, the version WG21 voted into C++ this Monday, `mdspan::size()` should return `size_t`, not `size_type`.  This is probably not a spec typo, because the function has the following precondition:

The function needs two changes.

1. Compute the product of the e

[2022-07-29 18:50] mhoemmen commented on #166
Just to clarify for other readers: your example using current `submdspan` would look like this.
[code]

@johan-overbye wrote:

I'm not quite sure I understand what you mean.  Could you give an example please?

If you pass in a single integer as a slice specifier, the corresponding extent of the input goes away; it does not appear in the `extents` of the return type of `submdspan`.  It doesn't matt

[2022-07-29 20:28] johan-overbye commented on #166
@mhoemmen, thanks again for your time. These are super helpful examples.

Let's say I want a constexpr-sized 2x2 submatrix of `mdspan<float, extents<size_t, 4, 4>> matrix{ /* ... */ };`, starting at an arbitrary non-constexpr offset `int i, j;`. Meaning that `matrix[i, j]` corresponds to `submatrix[0, 0]`.

Ideally `submatrix`'s extents should be `extents<size_t, 2, 2>`, but I can't achieve that (

[2022-07-31 22:22] #167 closed, assigned to mhoemmen

[2022-08-01 01:42] mhoemmen commented on #166
@johan-overbye wrote:

Thank you for explaining!  You're right that this is not a feature of the current proposal.  If you had constexpr `i` and `j`, you could do the following,
[code]
but you don't have constexpr `i` and `j`, so this wouldn't work.

This is good thinking, but the current design is consistent with Fortran and Python, and is unlikely to change at this point.  We could, however, ext

[2022-08-01 10:59] roastduck opened #169 "Questions on using accessors for restricted accesses"
Hi, in Section 2.7 of the proposal, I see one of the design goal of custom accessors is to apply `restrict` (non-aliasing hint) to memory accesses (if a C++ implementation supports it). But I have not figured out how to implement such an accessor. Can someone provide an example?

The problem is that I cannot simply return a `restrict`ed pointer *for each item* in a `mdspan`, because the semantics

[2022-08-01 13:22] johan-overbye commented on #166
Gotcha. I'd love such a feature personally, but the current `submdspan` does already cover about 90% of my use cases I think.

Thanks for the heads-up! But it's not a big concern in my case as most of my uses for `mdspan` and `mdarray` are about optimising for conciseness and malleability rather than performance. If performance is crucial, SIMD or GPGPU will often be the way to go anyway.

Thanks

[2022-08-01 15:33] mhoemmen commented on #166
@johan-overbye wrote:

Thanks so much! : - )  We really appreciate your interest and early adoption!

Please note that the reference implementations of both `mdspan` and `mdarray` live in the `https://github.com/kokkos/mdspan` repository now.  The old `kokkos/mdarray` repository is no longer supported.  Also, both implementations have been changed recently to match the latest revisions of the prop

[2022-08-01 15:39] mhoemmen opened #170 "mdarray: Apply no_unique_address optimization to members of mdarray"
@johan-overbye [reports that](https://github.com/kokkos/mdspan/issues/166#issuecomment-1201197622):

The reference implementation of `mdarray` doesn't currently use any of various techniques (such as `[[no_unique_address]]`) for not using space for members with no data,

https://github.com/kokkos/mdspan/blob/9ccf361e13dcc3bff2791fda327c2b10e081cb12/include/experimental/__p1684_bits/mdarray.hpp#L45

[2022-08-01 15:49] mhoemmen commented on #169
Greetings and thanks for your interest!  Your use case is different than what we envisioned for a "no-aliasing" accessor.  May we ask what data types you have in mind for the elements of the array `a`?

I'm not a C expert, but I'm not 100% convinced that your use case is not undefined behavior.  I think it might be legal use of C `restrict`, because `a+3` and `a+i` are both "based on" `a` (in the

[2022-08-01 16:14] roastduck commented on #169
Thanks! It solved my problem. Actually I have to separate `data_handle_type` form `default_accessor::offset`'s parameter and return value. The parameter should be `restrict` while the return value should not.

By the way, I guess my use case is quite common: people often distinguish different arrays, but not elements in one array. For example, in the following code

[code]

We can guarantee `a` an

[2022-08-01 16:20] mhoemmen commented on #169
@roastduck Thanks for explaining your use case, and for letting us know that the suggestion worked!  It would be excellent if you could share any performance improvements you see from using this accessor -- please don't feel obligated, but we're just curious : - ) .

[2022-08-01 16:22] roastduck commented on #169
Sorry but I am still confused after digging into the details. The effect of a `restrict` hint is that it guarantees a pointer has no alias *during its lifetime* (https://en.wikipedia.org/wiki/Restrict). But if I mark `data_handle_type` of `default_accessor::offset`'s and `default_accessor::access`'s parameter as above, it's lifetime ends when the functions return. I'm afraid it will have no effect

[2022-08-01 16:59] roastduck commented on #169
Another problem is: when directly accessing a `restrict` pointer `a` with an offset, like `a[i]`, there is no other pointer involved, and we are accessing *based on* a. However, in the `mdspan` case, we need to first convert `a` to a non-`restrict` pointer or reference in `accessor::offset` or `accessor::access`. I'm not sure whether this will stop compilers from treating the resulting pointer or

[2022-08-01 17:04] mhoemmen commented on #169
@roastduck wrote:

`mdspan::data_handle_type` is an alias to its accessor type's `data_handle_type`.  They are the same type.  There is no `pointer` type any more, btw (it's called `data_handle_type` now).

I haven't tested the following, but here's the accessor type that I had in mind.
[code]

https://en.cppreference.com/w/c/language/restrict gives examples of the kinds of optimizations that may

[2022-08-01 17:58] roastduck commented on #169
Thank you again for your answers. It seems to work in principle, so I did some experiments with g++ 11.2.0 in my local machine supporting AVX2 vector instructions to see if the `restrict` hint affecting vectorizing.

I wrote 4 versions of `vadd` in the following code:

[code]

I tried all 4 versions, compiled with `-O3 -march=native -std=c++2b`. Version 1, 3 and 4 produced identical code. Only Ver

[2022-08-01 18:41] johan-overbye commented on #166
Yep, all updated, thanks!

Those make sense, thanks.

OK, no problem! Just thought I'd flag it.

Brilliant, thank you.

Can't wait to see what's next. Thanks again for your time, and good luck!

[2022-08-01 19:44] mhoemmen commented on #169
@roastduck Thanks for trying this out and reporting results!  Regarding Version 4 (mdspan + restrict), I don't think that is the most idiomatic use of `restrict`.  The idiomatic way is to mark function parameters as restrict, not to apply restrict to non-restrict pointers in the same block.  For example:
[code]
Please see Examples 2 and 5 in Section 6.7.3.1 ("Formal definition of `restrict`") of t

[2022-08-01 19:44] #169 closed, assigned to nobody

[2022-08-01 22:45] #161 closed, assigned to nobody

[2022-08-02 02:49] roastduck commented on #169
Just FYI, I tried this implementation and it successfully produced optimized code.

[2022-08-02 15:18] tpadioleau commented on #160
Hello @mhoemmen ,

In this example, the strongly typed indices need to be implicitly convertible to `index_type`, correct ?

[2022-08-02 17:50] mhoemmen commented on #161
@trivialfis FYI, the changes here broke builds for other compilers.  @crtrott 's PR https://github.com/kokkos/mdspan/pull/171 fixes that.  Could you please check whether it works for you?  Thanks! : - )

[2022-08-02 19:19] crtrott commented on #161
This particular issue was with NVCC and g++9.4 right?

[2022-08-03 00:56] crtrott commented on #160
yes `is_convertible_v` must be true

[2022-08-03 05:11] trivialfis commented on #161
Hi @crtrott , the test failed with g++9/10, nvcc is not involved here.

[2022-08-03 05:20] crtrott commented on #161
What specific config fails? And do you mean with #171 or before that? I did test #171 with GCC 9.1/10.3/11.1 in C++ 14/17/20 mode and GCC 11.1 in C++23 mode.

[2022-08-03 05:23] trivialfis commented on #161
Before this issue (161). Your PR looks good, thank you for following up on this.

[2022-08-03 05:23] crtrott commented on #161
I also just rerun the version prior to merging #165 and don't see any failures

[2022-08-03 05:24] crtrott commented on #161
I see, as I said I can't reproduce that either. Can you send me the exact config you did to run into a problem with pure GCC? Just in case I am overlooking something so I can put that into my test harness.

[2022-08-03 05:25] crtrott commented on #161
Mine was something like this:
[code]

and for 20 adding -pedantic to the flags.

[2022-08-03 05:31] trivialfis commented on #161
Apologies for the ambiguity.  That test needed a fix in #165 because in #165 I changed the configuration of `no_unique_address`. So, it only breaks if we merge #165 without the fix in that test. It should always work in the stable branch.

I left the comment about that test in order to provide some context on why I need to change it to avoid confusion for reviewers.

[2022-08-03 06:03] crtrott commented on #161
Ah ok I get it now. Yeah it was still broken in C++17 mode even with GCC-11. But With #171 everything should be fine now including your original issues I gather.

[2022-08-09 23:14] mhoemmen opened #173 "mdarray: Implement container_to_accessor customization point"
Implement the suggestion here: https://github.com/ORNL/cpp-proposals-pub/issues/288

[2022-08-16 16:28] mhoemmen opened #175 "layout_{left,right}::mapping(const extents_type&) needs MDSPAN_INLINE_FUNCTION"
The `mapping(const extents_type&)` constructor in both `layout_left` and `layout_right` needs blessing with `MDSPAN_INLINE_FUNCTION`.  @youyu3 discovered this when attempting to construct an mdspan on device, with g++ 11.2.0 and nvcc 11.7.  It looks like the analogous `layout_stride::mapping` constructor already has this blessing.

[2022-08-25 03:20] mhoemmen opened #177 "Consider __make_dynamic_extent work-around for extents deduction guide"
@youyu3 encountered some issues compiling `extents` with nvcc + GCC with certain compiler versions and settings.  The issue appears to be with `__make_dynamic_extent()`.  Changing the `extents(IndexTypes...)` deduction guide so it looks like the following (not including constraints for clarity) makes it work.

[code]

Should we consider doing this in the reference implementation as well, or at lea

[2022-08-25 20:46] mhoemmen opened #178 "Overflow in extents::static_extent for unsigned IndexType smaller than size_t"
This fails:

[code]

This passes (so the return type of `static_extent` is correct):

[code]

The implementation of `static_extent` causes overflow internally, by casting to `index_type` before returning `size_t`.

https://github.com/kokkos/mdspan/blob/99fc694e09538c7622c7d50c321898d5ad1df918/include/experimental/__p0009_bits/extents.hpp#L145

[2022-08-25 21:37] mhoemmen commented on #178
Fixed by PR #179.  Thanks!

[2022-08-25 21:37] #178 closed, assigned to nobody

[2022-08-26 21:51] mhoemmen opened #181 "mdspan: Add optional bounds checking"
Both `default_accessor` and `layout_{left, right, stride}::mapping::operator()` have in-bounds access as a precondition.  This permits implementations to add bounds checking, using whatever mechanism they like (as precondition violations are undefined behavior).

- [ ] Add a configure-time option to turn on bounds checking.
- [ ] Use macros to protect bounds checking and error reporting code, incl

[2022-09-01 03:16] roastduck opened #183 "Can I construct a null mdspan with 0 dynamic ranks?"
Hi there. It seems that an `mdspan` should have a default constructor as described in the proposal, but I failed to construct such an `mdspan` as below:

[code]

The error is originated from the `requires` of `rank_dynamic() > 0` at https://github.com/kokkos/mdspan/blob/stable/include/experimental/__p0009_bits/mdspan.hpp#L128. I am wondering why is the constructor limited to non-zero dynamic ranks

[2022-09-01 04:04] crtrott commented on #183
That is not an oversight, and it is defined as such in the proposal. The issue is that a default constructed mdspan with all compile time extents has in principle a non-empty set of valid access indices. However the pointer is nullptr, and thus an access would fail. This was discussed in the committee, and we preferred the stronger guarantees here for an mdspan being always legal to access by cons

[2022-09-01 04:06] dalg24 commented on #183
https://www.open-std.org/jtc1/sc22/wg21/docs/papers/2022/p0009r18.html
In `24.7.?.2 Constructors [mdspan.mdspan.ctor]`, the default constructor 1st constraint is "rank_dynamic() > 0 is true."

[2022-09-01 04:07] crtrott commented on #183
Just to elaborate a bit more. With the current design it is always legal to loop over all extents and access the elements, assuming the mdspan was constructed legally. This follows from the preconditions of the constructors of mdspan, which require that the provided `data_handle` and `accessor` have an accessible range of the mappings `required_span_size`.

[2022-09-01 04:10] crtrott commented on #183
One last thing. As documented here: https://github.com/kokkos/mdspan#c17 , the default constructor always exists in C++17 since I can't use a requires clause to disable it, and I can't SFINAE it away. One would have to go through too many hoops to make it happen (e.g. using base classes, or full out partial specialziation of mdspan).

[2022-09-01 04:11] mhoemmen commented on #183
We have mdspan in the online C++ draft now! http://eel.is/c++draft/mdspan.syn

[2022-09-01 04:13] #177 closed, assigned to nobody

[2022-09-01 05:11] roastduck commented on #183
I don't quite understand. Since the design is to "always legal to loop over all extents and access the elements" after constructed, why do we provide a default constructor for non-zero dynamic ranks? I think an `mdspan` constructed by a default constructor can never access its elements, no matter if there are dynamic ranks.

[2022-09-01 05:29] crtrott commented on #183
Yeah but if you default construct an mdspan with dynamic ranks, the dynamic ranks have extent==0. And the legal range [0,0) is empty - i.e. there are no legal indices to be used.

[2022-09-01 05:31] crtrott commented on #183
Btw. std::span has the same thing: no default constructor for `span<int, dynamic_extent>`

[2022-09-01 06:36] roastduck commented on #183
Understood. But is there a best practice if I intend to create a null `mdspan`? Am I supposed to write `mdspan<float, extents<13>> x = nullptr`, or do I have to use `optional<mdspan>`?

Btw,

do you mean "~no~ only default constructor for `span<int, dynamic_extent>`"?

[2022-09-01 06:40] crtrott commented on #183
Ah yeah sorry its late :-)

And no `mdspan<float, extents<13>> x{nullptr}` is a violation of the preconditions of the constructor, so std::optional would be the standard compliant approach.

[2022-09-01 06:50] roastduck commented on #183
Understood, so `mdspan` and `span` are designed like references (with mutable address) rather than pointers. But I think pointers are truly useful in some cases, comparing to `optional`s of references. Are there any plan for pointer-like `span`s?

`std::optional<mdspan>` is likely to introduce some overhead, because it needs at least an extra bit to record whether the `mdspan` is valid. On the con

[2022-09-01 13:26] crtrott commented on #183
You can always do `mdspan<int, extents<int,dynamic_extent>>`. In particular for 1D arrays where is practically no overhead other than the one extra int storage. Access of 1D mdspans like this does not involve the extent.

[2022-09-01 15:28] roastduck commented on #183
Thanks. Feel free to close the issue.

[2022-09-01 16:26] #183 closed, assigned to nobody

[2022-09-01 23:40] youyu3 commented on #175
I think there are many other places that need this fix.  I built the tests with `nvcc` without the `--expt-relaxed-constexpr` flag and saw many warnings due to the missing `__host__ __device__`.  In `layout_{left,right}`, for example, `__compute_offset` and `operator()` need this fix as well, but there may be other places that existing tests don't cover.

@crtrott Are there plans to address this f

[2022-09-01 23:46] crtrott commented on #175
There is a more fundamental issue: we use stuff like std::array, pair and tuple internally ...

The question is should we try and make all those ho away so the code would work without the constexpr relaxation

[2022-09-02 00:01] youyu3 commented on #175
True... Besides using equivalents (array, tuple, etc.) in libcudacxx, what options are there?

[2022-09-02 14:50] mhoemmen commented on #175
@youyu3 @crtrott For the reference implementation, we could constrain those functions to take arbitrary "array-like" or "tuple-like" types, instead of requiring those types specifically.  That would let us sub in the libcudacxx equivalents, the Kokkos equivalents, or custom types that have the aroma of array or tuple.  This should make it easier for existing Kokkos or libcucxx users to introduce m

[2022-09-02 17:00] mhoemmen commented on #175
Fixed by PR #184.

[2022-09-02 17:00] #175 closed, assigned to nobody

[2022-09-02 17:12] mhoemmen opened #185 "Change MDSPAN_INLINE_FUNCTION to _MDSPAN_INLINE_FUNCTION (was "Rename _MDSPAN_HOST_DEVICE to MDSPAN_HOST_DEVICE")"
@youyu3 @crtrott

## New issue

I revised this issue on 2022/09/06, based on offline discussion with @crtrott .  We do not want to give users the impression that they are allowed to use the `MDSPAN_INLINE_FUNCTION` macro.  It is for mdspan implementers only.  It may be used in mdspan tests and examples, but it may NOT be used outside mdspan.

Thus, we need to add an underscore prefix to the `MDSPA

[2022-09-02 17:13] mhoemmen commented on #130
I'll close this for now.  Please feel free to reopen or to open a new issue if you have more questions.  Thanks!

[2022-09-02 17:13] #130 closed, assigned to nobody

[2022-09-02 17:14] mhoemmen commented on #115
We have implemented P2554 via PR #122 .

[2022-09-02 17:14] #115 closed, assigned to nobody

[2022-09-02 19:03] mhoemmen commented on #109
The spec voted into the C++ draft [says](http://eel.is/c++draft/mdspan.mdspan.members) that `operator[]` has effects equivalent to `acc_.access(ptr_, map_(static_cast<index_type>(std::move(indices))...));`.

I was reviewing this issue with the intent to close it as "won't fix," when I noticed that `mdspan::operator()` is inconsistent with `mdspan::operator[]`.  `operator()` does _not_ cast the ind

[2022-09-02 19:03] #109 closed, assigned to nobody

[2022-09-02 19:08] mhoemmen opened #186 "mdspan::operator() is inconsistent with operator[]; both are inconsistent with the spec"
Based on my comment here: https://github.com/kokkos/mdspan/issues/109#issuecomment-1235817012

The spec voted into the C++ draft [says](http://eel.is/c++draft/mdspan.mdspan.members) that `mdspan::operator[]` has effects equivalent to `acc_.access(ptr_, map_(static_cast<index_type>(std::move(indices))...));`.

There are two issues with the current mdspan implementation.  First, the backwards compat

[2022-09-03 06:05] pfeatherstone commented on #130
Thanks. This work is fantastic! But I don't understand why someone hasn't got the confidence to propose a full numpy style library with linear algebra support and expression templates. Xtensor isn't perfect but it's a start.

[2022-09-04 19:34] mhoemmen commented on #130
WG21 has limited time for reviewing large proposals.  Even mdspan took a lot of time; we submitted the first version of the mdspan proposal in 2014.  A good strategy for making best use of their time is to break large proposals into smaller proposals.  mdspan is useful by itself.  It's a common vocabulary type that many libraries can use, including the many existing C++ libraries that already do w

[2022-09-04 20:00] pfeatherstone commented on #130
Thank you for your explanations. You're right that there is nothing wrong with using a library. It's just there are so many libraries out there that do matrix algebra. It's not obvious which is the best. Only a couple support tensors. Having one in the standard library sets an industry standard and it would encourage everyone to use the same thing. One might argue that's not a good thing but I thi

[2022-09-06 21:11] mhoemmen commented on #117
@fwyzard In general, allocations from `cudaMallocPitch` should work just fine with `mdspan`.  You can use `layout_stride` or a custom layout (such as `layout_right_padded` [in this PR](https://github.com/kokkos/mdspan/pull/180)) to represent the extra row padding that `cudaMallocPitch` might return.

The issue here is that the original poster wants five consecutive 12-byte structs to align to 64 b

[2022-09-07 16:21] fwyzard commented on #117
hi @mhoemmen,

I think `cudaMallocPitch` actually has the exact same issue: rows are aligned to a value (_e.g._ 512 bytes) that may not be a multiple of the element size (_e.g._ 12 bytes).

Here is an example that uses `cudaMallocPitch` to allocate pitched memory for a 2D array of `struct`s.
Each `struct` holds 3 `float`s, so it has `sizeof(T) = 12` and `alignof(T) = 4`.
The array is `5x4`, so eac

[2022-09-09 13:20] LnnrtS opened #187 "Build failing on GCC arm due to _N defined as a macro"
`ctype.h` on that platform defines

[code]

which breaks `mdspan` in many places since some of those names are used as template parameters.

Names starting with an underscore and upper case letter are reserved by the standard to be used by an implementation so I think the proper way to handle this is rename the template parameters. I didn't find a quick way to automate the renaming otherwise I wou

[2022-09-09 18:28] mhoemmen opened #188 "extents does not enforce Mandate that IndexType is integral"
Due to a recent build issue in a different project, I accidentally constructed an `extents` type where the first template parameter `IndexType` was an `extents` specialization, instead of an integral type.  Nevertheless, the code compiled, even though the spec Mandates that "`IndexType` is a signed or unsigned integer type."

In a brief Compiler Explorer example, I got more complicated build error

[2022-09-10 18:48] crtrott commented on #187
Yeah this implementation is meant to go into the standard implementation hence we also use underscores, obviously we need to make it compatible with the ones we want to intregrate with. But seriously who injects single letter macros into the global namespace lol, almost as bad as MSVC definine MIN and MAX as macros  ....

[2022-09-10 18:50] crtrott commented on #187
On the other side I don't think there is a reason we should put _ in front of tempalte parameters in the first place.

[2022-09-11 22:57] mhoemmen commented on #187
Right, I don't think it's our job necessarily to pre-mangle symbols.  If a standard library implementation wants to adopt our reference mdspan implementation, they will do that mangling on their own.

This is a bit relevant to #185, though.  We've been wanting to use a prefix `_` as a way to mark macros as implementation details.  On the other hand, "namespaced" macros like `_MDSPAN_INLINE_FUNCTIO

[2022-09-12 11:03] LnnrtS commented on #187
Correct me if I'm wrong but I don't think the name of template parameters have to be mangled at all because they are no symbols and they don't leave the scope of the template definition. But - as we can see in this particular issue - they are affected by global macros. So consequently I would say they actually *may not* be mangled at all.

[2022-09-12 14:29] mhoemmen commented on #187
@LnnrtS wrote:

Just to clarify: The library in this repository does not need to mangle template parameters.  Standard Library implementations of mdspan (which are coming) generally mangle symbols to avoid collisions with users' macros.

[2022-09-12 18:22] LnnrtS commented on #187
Ok I see. I wasn't taking user defined macros into account (I mean, why would anybody.. ;-))

[2022-09-16 16:22] bernhardmgruber commented on #117
I had a look at `layout_right_padded` and it would indeed work nicely *if* the row pitch is a multiple of the element size. Unfortunately, as @fwyzard demonstrated, we also have counter examples. Even worse, we can only discover these cases at runtime, because there is no guarantee which pitch is returned from `cudaMallocPitch` either.

Anyway, thank you for the input so far! I will see how far we

[2022-09-16 18:28] mhoemmen commented on #117
@bernhardmgruber Thanks for taking a look!

I think the key is to make the mdspan _store_ bytes, but _reference_ elements.  I haven't thought about the details quite just yet.

[2022-09-18 04:02] mhoemmen commented on #117
@bernhardmgruber I think I've got it.  The `cudaMallocPitch` documentation specifies the access formula as

[code]

Given that `sizeof(T)` need not evenly divide `pitch`, the key is to use bytes (`char`) as the underlying data type.  This means that the accessor's `data_handle_type` would be `char*` (or `const char*`).  I'll start backwards from the accessor and use it to figure out the layout map

[2022-09-20 14:18] fwyzard commented on #117
@mhoemmen thanks for the implementation of the `aligned_byte_accessor` - I can confirm that it works as intended !
[code]

gives
[code]

[2022-09-20 16:50] mhoemmen opened #190 "Investigate making the implementation simpler, and benchmark the effects"
@crtrott @dalg24 @nliber

The following discussion

* https://github.com/NVIDIA/libcudacxx/pull/299#issuecomment-1252094052
* https://github.com/NVIDIA/libcudacxx/pull/299#issuecomment-1252566731
* https://github.com/NVIDIA/libcudacxx/pull/299#issuecomment-1252626640

suggests that the implementation is more complex than needed, because it does not fully take advantage of the relaxed requirements

[2022-09-20 17:01] mhoemmen commented on #117
@bernhardmgruber Thanks for reporting success! : - D

You shouldn't need to take the address of `m(i, j)` or cast to `T*`.  The return type of `m(i, j)` is `T&`.  (`aligned_byte_accessor<ElementType>::reference` names the type `ElementType&`.)  The following should work just fine.

[code]

[2022-09-20 17:03] mhoemmen commented on #117
@bernhardmgruber It looks like we've answered the question, so I'm closing this issue.  Please feel free to reopen if that's not the case.  Thanks for your helpful comments and suggestions!

[2022-09-20 17:03] #117 closed, assigned to nobody

[2022-09-20 17:30] crtrott commented on #190
I think the comment about extents could be simpler are fair. Part of the problem was trying to work around a number of issues with empty base optimization in MSVC and Intel compiler. MSVC did get much better though in the last couple years. That said: looking at some assembly it does look like the reference implementation compiles cleaner:

https://godbolt.org/z/Gvsfrn31o

[2022-09-20 19:27] miscco commented on #190
Yeah that is super interesting to see, I am really curious as to where that difference could come from.

It should boil down to the same thing

[2022-09-20 20:17] mhoemmen commented on #190
For other readers: In Christian's example, maintain `-O2` (at `-O3` all the code goes away), and look carefully at the assembly code generated for line 370 (`for(int i=0; i<ext.rank(); i++) size*= ext.extent(i);`).  With the current implementation, there's no loop; with the suggested implementation, there's a loop.

[2022-09-20 20:18] miscco commented on #190
I believe the issue is that i call the function `_Dynamic_index` rather than memoizing it in an array and indexing that

[2022-09-21 09:36] miscco commented on #190
Note turning the loopy function into a static array indeed improved optimizations https://godbolt.org/z/GEx8Ee71j

[2022-09-24 14:58] crtrott commented on #187
We may wanna mangle but just use some larger names for the template parameters. That said I still think its insane to have in any library single letter macros, mangled or not.

[2022-09-27 10:08] bernhardmgruber opened #191 "Single header version requires at least C++20"
Hi! I am trying your mdspan implementation in [alpaka](https://github.com/alpaka-group/alpaka), which is a C++17 codebase. I use your single-header version. Unfortunately I cannot get it compiling, because the [single-header version just includes `<span>`](https://github.com/kokkos/mdspan/blob/single-header/mdspan.hpp#L13), which is a C++20 header.

I guess this may be an artifact of how you produ

[2022-09-27 14:44] mhoemmen commented on #191
Greetings!  I wouldn't recommend the single-header version for use in a code base.  It was really just intended for Compiler Explorer and other demos.  Best practice is to download the repository and build it with the appropriate CMake options set.

[2022-09-27 16:36] crtrott commented on #191
Hey,

I am not sure how you get that problem. With GCC and Clang it works perfectly fine on godbolt in the single header version https://godbolt.org/z/djbcvvYqT

There is a known issue with MSVC due to some issues in MSVC with the feature test macros (i.e. it seems the feature test macro for span is defined, but then it anyway complains about including span ...).

Christian

[2022-09-27 16:39] crtrott commented on #191
Oh hm I see now, looks like clang and gcc just let you include it as long as you don't use it ... I hadn't actually looked at the single header version. Yeah I don't think I want to try and fix that, or promise to make the single header version usable like that.

[2022-09-27 23:37] bernhardmgruber commented on #191
@mhoemmen thank you for the recommendation, I will use the `stable` branch then!

Exactly, the header can be included but the content may be disabled.

Ok, good to know, thx!

[2022-09-27 23:37] #191 closed, assigned to nobody

[2022-09-30 23:37] mhoemmen opened #193 "layout_stride mapping constructor taking (extents_type, span) doesn't compile"
@youyu3 discovered that the `layout_stride::mapping(const extents_type&, span<OtherIndexType, rank()>)` constructor doesn't compile.  Here is an example:

https://godbolt.org/z/Tf57xdrGq

[code]

@youyu3 suggests a fix: add a `__deduction_workaround::fill_strides` overload taking `span<IntegerType, extents_type::rank()>`, like the existing one that takes `array<IntegerType, extents_type::rank()>`

[2022-10-04 22:46] bernhardmgruber commented on #117
Hi @mhoemmen! Thank you so much for the suggestion with the `layout_stride`, using `sizeof(T)` as the innermost stride and using a `char*` as data handle. It works like a charm! I can conform that also `submdspan` works correctly this way.

Again, thank you so much!

[2022-10-10 21:05] crtrott commented on #152
We added constructor from mspan in the proposal.

[2022-10-10 21:05] #152 closed, assigned to nobody

[2022-10-10 21:10] gonzalobg commented on #152
Thank you Christian, happy to hear that!

[2022-10-11 15:45] youyu3 opened #194 "Comparison operator of `extents` may not work when `-Werror=sign-compare` is used"
The implementation of the comparison operator led to compilation errors when `-Werror=sign-compare` is on, if one index type is signed while the other is unsigned.

@mhoemmen has suggested that:

[2022-10-11 20:40] youyu3 commented on #194
Similar issue in constructor of `layout_{left|right}` that takes a `layout_stride::mapping`, where `size_t stride = 1;` is compared against the stride of the input mapping, which could be signed.

[2022-10-12 17:49] youyu3 opened #195 "`required_span_size` in `layout_stride` gives incorrect result"
In https://github.com/kokkos/mdspan/blob/stable/include/experimental/__p0009_bits/layout_stride.hpp, the line of
[code]
should be
[code]
to be consistent with the spec (http://eel.is/c++draft/views#mdspan.layout.stride.expo)

[2022-10-12 17:57] mhoemmen commented on #195
As a follow-on, if we fix this issue, we could simplify `layout_stride::mapping::is_exhaustive()` into `return required_span_size() == size()`.

[2022-10-12 17:58] mhoemmen commented on #195
See Compiler Explorer example for @youyu3 's original comment: https://godbolt.org/z/5z5T6GeP5

[2022-10-13 16:54] youyu3 opened #196 "Comparison operators of `layout_stride` don't seem to work correctly"
Looks like the comparison operators of `layout_stride` don't work correctly when the extents are different but the strides are the same.  See example for `operator==` here https://godbolt.org/z/Pc9o57xhq or below:
[code]

Both `_eq_impl` and `_not_eq_impl` only check `stride` and don't check `extent`.

[2022-10-13 16:58] youyu3 opened #197 "`operator!=` for `layout_{left|right}` is missing when C++20 isn't available"
The check for `MDSPAN_HAS_CXX_20` is incorrect.  Should be `#if !(MDSPAN_HAS_CXX_20)`.

[2022-10-13 17:15] crtrott commented on #196
Yeah definitely a bug.

[2022-10-19 06:18] youyu3 opened #198 "nvcc and use of `[[no_unique_address]]`"
In config.hpp there are these checks for using `[[no_unique_address]]` or using an emulation of it.
[code]
Using of `[[no_unique_address]]` is disabled if it's compiled by nvcc.  Is this just because this was not supported by nvcc at some point?

Current nvcc does support it now (as long as the host compiler supports it).

[2022-10-19 15:50] mhoemmen opened #199 "Add an iterator-to-mdspan example"
See discussion here: https://github.com/rapidsai/raft/issues/925#issuecomment-1284190345

[2022-10-20 17:20] youyu3 opened #200 "Return type of `layout_stride::operator()` is incorrect"
Should return `index_type` but returns `size_t`
https://github.com/kokkos/mdspan/blob/stable/include/experimental/__p0009_bits/layout_stride.hpp#L426

[2022-10-20 17:27] mhoemmen commented on #200
Confirmed, `layout_stride::mapping::operator()` should return `index_type` per the spec: http://eel.is/c++draft/views#mdspan.layout.stride.obs

[2022-10-20 17:55] youyu3 opened #201 "Constraint on `layout_{left|right|stride}::stride` is not implemented"
Per http://eel.is/c++draft/mdspan.layout.left.obs#5, should have

Constraints: `extents_­type​::​rank() > 0` is `true`

But is not implemented, for example: https://github.com/kokkos/mdspan/blob/stable/include/experimental/__p0009_bits/layout_left.hpp#L206

`stride(0)` returns 1 for a 0-D mapping (`stdex::extents<size_t>`).

[2022-10-20 18:27] youyu3 commented on #201
One possible fix is to have the following
[code]

[2022-10-20 18:35] youyu3 commented on #201
`stride` isn't listed on http://eel.is/c++draft/mdspan.layout.stride.obs for `layout_stride` (it is on http://eel.is/c++draft/mdspan.layout.stride.overview), but I suppose it should have the same constraint?

[2022-10-20 19:17] mhoemmen commented on #201
@youyu3 We defined `layout_stride::mapping::stride` using the exposition-only `array<index_type, rank_> strides_`.  I suppose that one could be constrained too, but it doesn't need any constraints.  It gets its precondition -- that the input is in [0, `rank()`) -- indirectly from the `operator[]` [sequence container requirements](http://eel.is/c++draft/sequence.reqmts).

[2022-10-20 20:10] youyu3 commented on #201
So is the behavior here https://godbolt.org/z/qWsnjeebT expected, i.e., `stride(0)` doesn't lead to a compilation error when the rank of the extent is 0?

[2022-10-20 22:20] mhoemmen commented on #201
That is not the correct behavior per http://eel.is/c++draft/views#mdspan.layout.left.obs .

[2022-10-25 13:26] SimeonEhrig opened #202 "Generic iteration function for n dimension mdspan"
Hi, I'm working on [vikunja](https://github.com/alpaka-group/vikunja), a platform-independent primitives library (e.g. `vikunja::transform`, `vikunja::reduce`) for different accelerators based on [alpaka](https://github.com/alpaka-group/alpaka).
I want to use `mdspan` to support N dimension memory. In the presentation of Bryce Aldelstein Lelbach ([youtube link](https://www.youtube.com/watch?v=aFCL

[2022-10-25 17:47] mhoemmen commented on #202
Hi @SimeonEhrig !  Bryce also has presentations that talk about the two C++23 ranges features `cartesian_product` and `iota`.  You can use those to construct a range with the desired iteration order, and then iterate over the range with an algorithm like `ranges::for_each`.

You could also imagine specializing for the case of iterating over an mdspan's domain (which is a Cartesian product of the e

[2022-10-27 06:59] SimeonEhrig commented on #202
I developed a solution:

[code]

I take some times, until I understand all required rules of variadic templates and variadic parameter packs and it takes also some time to combine everything but now I have a working solution. [cppinsights](https://github.com/andreasfertig/cppinsights) helped a lot to developed it. Now, I need to check, if the compiler can optimize it.

[2022-10-27 18:12] mhoemmen commented on #202
Excellent work!  C++23 (`cartesian_product` and `iota` range views) or the ranges-v3 library can make this a lot easier to write.  Here is an example of C++20 code for iterating over the domain of an mdspan: https://godbolt.org/z/fh41E1q66

[code]

[2022-10-27 22:50] mhoemmen commented on #202
Here's an improvement of that example, that shows how to iterate over the domain of an mdspan without needing ranges: https://godbolt.org/z/nabce8WW6

[code]

[2022-10-31 10:19] bernhardmgruber commented on #202
Since I had to implement the same functionality in [LLAMA](https://github.com/alpaka-group/llama/blob/develop/include/llama/ArrayExtents.hpp#L232-L253), here is my version:
[code]
Godbolt: https://godbolt.org/z/6ae585YM8

The trick here is to use an `index_sequence` to determine in which order the dimensions of the `extents` should be iterated. That idea btw. came from [alpaka's `NdLoop`](https://

[2022-10-31 10:23] bernhardmgruber commented on #202
@SimeonEhrig here is your example of `iota_span` using the above snippet:
[code]

Godbolt: https://godbolt.org/z/5hncdK1fj

[2022-11-02 08:18] SimeonEhrig commented on #202
@mhoemmen  and @bernhardmgruber thanks for the solutions. Looks much better, than my solution. I think, I will take @bernhardmgruber solution and extend it with the ideas of @mhoemmen solution (I cannot directly overtake it, because we cannot use C++20 because of the nvcc compiler).

[2022-11-02 14:43] mhoemmen commented on #202
@SimeonEhrig I think I can do better to make my code more concise!  I've been working on it when I need a break from other things.  The only strictly C++20 things in my example are lambdas with named template parameters, but you've figured out how to work around.

You might also want to consider Kokkos' MDRange, an existing optimized parallel multidimensional index for-each that only requires C++1

[2022-11-02 21:36] rscohn2 opened #203 "example for custom accessor?"
Is there an example that shows how to use a custom accessor?

[2022-11-02 21:40] dalg24 commented on #203
`examples/` has an `aligned_accessor/` and a `restrict_accessor/` directories

[2022-11-02 21:51] rscohn2 commented on #203
Thanks

[2022-11-02 21:51] #203 closed, assigned to nobody

[2022-11-03 15:23] mhoemmen commented on #202
@bernhardmgruber @SimeonEhrig Here's a refinement of my above example: https://godbolt.org/z/o9ecK7coj -- please see in particular `for_each_in_extents_4`.

[2022-11-04 23:28] zhuoqiang commented on #136
I would like to confirm which version/tag is currently hosted in conan.io as mdspan 0.1.0?
It seems there's no `dextents` alias there.

Is there any plan to update latest version to conan? thanks

[2022-11-05 03:19] zhuoqiang opened #205 "is there any way to view multiple underlying data buffers into single mdspan?"
Hi,

Maybe it is a abuse of mdspan but I wonder if it is possible to view multiple underlying data buffers with a same size through single mdspan object?

something like this:

[code]

it seems to me that `mdspan` requires `ElementType*` as the underlying data parameter, so `d.data()` obviously not working here, not to metion the default layout policy.

But I am thinking if a customized layout / e

[2022-11-06 15:34] rscohn2 opened #206 "How to fill or copy a mdspan?"
I would like to use algorithms  std::fill and std::copy or their ranges equivalent on mdspan. These are algorithms where order of traversal does not matter. I don't see a begin(). Is there a recommended way to do it?

https://godbolt.org/z/5fEjbPn8d

[2022-11-07 11:39] bernhardmgruber commented on #205
In my understanding, this should totally work, since the data handle does not need to be `T*`. You will need to write your own accessor, since this type holds the data handle and determines how it is offset and accessed.

Here is a working example, but I am confident you can do better:
[code]
https://godbolt.org/z/KqrMGsWbT

Since `offset` is harder to implement, I just postponed it to `access`, w

[2022-11-07 11:47] bernhardmgruber opened #207 "Update cppreference with mdspan"
Hi! I am working with `mdspan` every now and then, so, naturally, I need to consult its documentation. I usually used [P0009](https://wg21.link/P0009) as a reference, but since it was approved in WG21 plenary and merged to the C++ working draft, it has not been updated anymore. Several follow-up papers have been proposed and accepted in the meantime, so there is no longer a single up-to-date refer

[2022-11-07 15:37] mhoemmen commented on #207
@bernhardmgruber Try this: http://eel.is/c++draft/views#mdspan.syn

[2022-11-07 15:39] bernhardmgruber commented on #207
Yeah, I should have thought about that myself :D Thx!

Still, would also be great to have it on cppreference! :)

[2022-11-07 15:54] mhoemmen commented on #205
@bernhardmgruber Excellent example! : - D

There are a few different ways one could do this.  One possible issue with the `data_handle_type` design above is that it may be large and expensive to create and copy, especially if the number of buffers is large.  mdspan is nonowning, so it's perfectly legal for the accessor to have a pointer (just a normal raw pointer) to some storage struct.  I'm imag

[2022-11-07 16:04] mhoemmen commented on #136
@crtrott Do we maintain a conan.io thing?  That's the first time I've heard of mdspan in conan : - )

[2022-11-07 16:21] mhoemmen commented on #206
The simplest C++23 approach would be to use `cartesian_product` and `iota` to create a range expressing the domain (set of valid multidimensional indices) of an mdspan.

There are other ways to do it.  The following Compiler Explorer link shows some examples: https://godbolt.org/z/o59hdh8Kv

[2022-11-07 16:55] rscohn2 commented on #206
Thanks!

[2022-11-07 16:55] #206 closed, assigned to nobody

[2022-11-09 15:50] SimeonEhrig commented on #202
Thanks for the solution. Looks like my idea in a heavy optimized version :sweat_smile: I'm also impressed, how you can use templated lambdas in C++20 for template meta programming. I read about templated lambdas but I never thought about to use it for meta programming.

[2022-11-09 16:06] bernhardmgruber commented on #202
TMP is *the* use for lambdas with explicit template heads until we get [P1061](https://wg21.link/P1061), possibly in C++26.

Edit: given that `std::extents` can be destructured, which it can be, but not in the way you would expect:
[code]
@mhoemmen should this be fixed? That is, should `std::extents` destructure to all extents (with static extends being demoted to runtime values)? I would find thi

[2022-11-13 14:02] Mrkol opened #210 "mdarray implementation violates rule of 5"
It implements move/copy constructors and destructor, but no move/copy assignment operators. This spectacularly breaks template-heavy code. Make it be properly `std::copyable`, please :(

[2022-11-22 16:47] crtrott commented on #210
Addressed in #213

[2022-11-22 16:49] crtrott commented on #207
Do we know any editors?

[2022-11-22 17:00] crtrott commented on #205
If you know how many buffers you have the above is good. I.e. its likely cheaper to make the data handle a bit larger, than going through pointer chasing for each access. My gutfeeling is that computing the correct buffer directly with modulo might be better than the loop. If you can have fixed size buffers underneath with power of 2 sizes you can even use shift and mask to compute the actual offs

[2022-11-22 17:00] #205 closed, assigned to nobody

[2022-11-22 17:00] crtrott commented on #205
This might be a good candidate for "How To"

[2022-11-22 17:04] crtrott commented on #202
This structured binding thing will not work  no matter what, certainly wouldn't produce runtime values. This just makes internal members visible.

[2022-11-22 17:10] crtrott commented on #201
@youyu3 can you issue that PR against kokkos/mdspan too?

[2022-11-22 17:10] crtrott commented on #200
@youyu3 can you issue this against this repo too?

[2022-11-22 17:31] mhoemmen commented on #207
Do you mean cppreference editors?  It's a wiki so in theory we could do it.

[2022-11-22 17:34] crtrott commented on #103
We may rather want to propose something like the maybe_static_array in my new extents implementation. see: #212

[2022-11-22 17:34] #103 closed, assigned to nobody

[2022-11-22 17:36] crtrott commented on #102
Not sure how this is possible. Isn't structured bindings always giving back the member thingies? (updated link for your exmaple btw: https://godbolt.org/z/bzTPb7K5Y)

[2022-11-22 17:37] #134 closed, assigned to nobody

[2022-11-22 17:38] crtrott commented on #136
I don't even know what conan is ...

I am planning to tag a new release soon as 1.0. Just working through some outstanding issues.

[2022-11-22 20:05] crtrott commented on #202
Oh I see you could do it for custom types. I guess someone could propose a paper to do this ...

[2022-11-22 20:12] #210 closed, assigned to crtrott

[2022-11-22 20:38] crtrott commented on #186
Addressed in #214

[2022-11-22 23:56] youyu3 commented on #200
@crtrott Sure I'll upstream my fixes to this repo when I get a chance.  Hopefully later this week.

[2022-11-23 00:10] crtrott commented on #98
I think this is fixed.

[2022-11-23 00:10] #98 closed, assigned to nobody

[2022-11-23 00:13] crtrott commented on #30
I think this is not an issue anymore gonna close this

[2022-11-23 00:13] #30 closed

[2022-11-23 00:13] crtrott commented on #33
I think this is not an issue anymore

[2022-11-23 00:13] #33 closed, assigned to nobody

[2022-11-23 00:23] crtrott commented on #39
i think this is fixed. Added test in #217

[2022-11-23 00:23] #39 closed, assigned to nobody

[2022-11-23 00:23] #40 closed, assigned to nobody

[2022-11-23 00:23] crtrott commented on #65
I think this is fixed.

[2022-11-23 00:23] #65 closed, assigned to nobody

[2022-11-23 00:24] #82 closed, assigned to nobody

[2022-11-23 15:26] #188 closed, assigned to nobody

[2022-11-23 15:28] #193 closed, assigned to nobody

[2022-11-23 15:30] #186 closed, assigned to nobody

[2022-11-23 15:36] crtrott commented on #198
There were also issues with working slightly different on host and device, and that leading to mismatched sizes.

[2022-11-23 15:45] mhoemmen commented on #202
@crtrott Right, one could overload the various `tuple_*` customization points so that `get` works as one might expect.

@bernhardmgruber It's a neat idea to make this work for `extents`.  Would you be interested in writing the paper?  It would have to target C++26, as the C++23 acceptance date for new features is long past.

[2022-11-24 11:15] bernhardmgruber commented on #202
@crtrott and @mhoemmen Exactly, we would need specializations of `std::tuple_size` and `std::tuple_element` as well as either a member `std::extents::get` or a free `std::get(extents)`.

I am interested in writing a small paper. It's a little personal wish of mine for a long time anyway :) I will try to float a draft on the mailing list in a couple of weeks.

[2022-11-28 04:11] mhoemmen commented on #202
@bernhardmgruber That's excellent!  We would be happy to review early drafts of the paper before you send it to the mailing list.  Thanks!